---
title: "À Propos"
layout: page
---
<div>

    <img src="/images/photosmall.jpg" class="avatar" style="width: 95px"><h2 class="smalltitle" id="français">En Français</h2>
	<p><em>Je suis William Dorffer</em> [aka <em>Schoewilliam</em>], et suis un passionné du web ouvert. Mon temps libre consiste essentiellement en mon expérience du logiciel libre, mes écrits divers et variés, et ma contribution mozillienne.<br>
	Oh et puis, je rêve de l'Islande parfois.<br>
	J'écris ici principalement en français, mais il m'arrive de rédiger en anglais aussi.</p>
	
	<br><h2 class="smalltitle" id="english">In English</h2>
	<p class="en"><em>I am William Dorffer</em> [aka <em>Schoewilliam</em>], and I am an open web enthusiast. I essentially spend my free time experimenting with free software, my various writings, or contributing to Mozilla's misson.<br>
	Also, I happen to dream about Iceland. <br>
        Most of my posts are written in French, but <a href="/archive/#inenglish">I do happen to write in English</a> too.</p>
	
	<br>
	<hr class="wide">
	<br><h2 class="smalltitle" id="contact"><span class="oi" data-glyph="envelope-open"></span> Contact</h2>
	<a href="mailto:schoewilliam@schoewilliam.fr">schoewilliam[at]schoewilliam[dot]fr</a><br>
	{% for link in site.nodes %}<a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>{% if forloop.last %}{% else %} · {% endif %}{% endfor %}</p>
</div>
