---
title: "Friends & Links"
layout: page
---
<h2 class="smalltitle">Some Friends on the Internets</h2>
<p>{% for link in site.blogoliste %}<a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>{% if forloop.last %}{% else %} · {% endif %}{% endfor %}</p>

<hr>

<h2 class="smalltitle">A few links I feel like sharing</h2>
<p>{% for link in site.linkoliste %}<a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>{% if forloop.last %}{% else %} · {% endif %}{% endfor %}</p>