@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff') format('woff'),
         url('Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-UltraLight.woff') format('woff'),
         url('Montserrat-UltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-Light.woff') format('woff'),
         url('Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff') format('woff'),
         url('Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.woff') format('woff'),
         url('Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.woff') format('woff'),
         url('Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff') format('woff'),
         url('Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.woff') format('woff'),
         url('Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.woff') format('woff'),
         url('Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


