.comments {
    background-color: #EEEEEE;
    margin: 0 auto;
    max-width: 800px;
    padding: 25px;
    text-align: center;
}

.comments_header {
    margin: 0;
    font-family: "Open Sans Light", Cantarell, sans-serif;
}
.comments_header a {
    font-size: 200%;
    color: #525252;
}

.comment {
    color: #727272;
    margin: 0 0 30px;
}
.comment:last-child {
    padding-bottom: 25px;
}

.comment_user {
    display: block;
    font-weight: bold;
    text-align: right;
}

.comment_message {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #333333;
    display: block;
    line-height: 1.6;
    padding: 10px 15px;
    text-align: left;
}

.comment_addcomment {
    background-color: #555555;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    color: #EEEEEE;
    display: block;
    font-size: 110%;
    margin: 0;
    padding: 10px 20px;
    
    text-decoration: none;
}

.comment_form {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #444444;
    margin: 0;
    padding: 20px;
}

.comment_inputuser {
    margin: 0 0 10px;
    text-align: center;
}

.comment_inputuser > input {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    padding: 4px 10px;
}

.comment_inputmessage {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #333333;
    display: block;
    line-height: 1.6;
    padding: 10px 15px;
    text-align: left;
}

.comment_inputmessage > textarea {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    font-family: "Open Sans",Cantarell,sans-serif;
    font-size: 100%;
    padding: 10px;
    width: 97.2%;
}

.comment_recaptcha {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #333333;
    display: block;
    line-height: 1.6;
    padding: 10px 15px;
    margin-top: 20px;
    text-align: left;
}

.comment_recaptcha > input {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    font-family: "Open Sans",Cantarell,sans-serif;
    font-size: 100%;
    height: 30px;
    padding: 10px;
    vertical-align: top;
    width: 150px;
    margin-right: 5px;
}

.comment_submit {
    margin-top: 20px;
}

.comment_submit > input {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    color: #444444;
    cursor: pointer;
    display: block;
    font-size: 90%;
    margin: -3px auto 0;
    padding: 2px 8px;
}

