<section id="archives">
		<div>
			<div>
				Quelques applications de bidouilles conçues/hébergées par plaisir et pour le plaisir. Elles peuvent être installées en tant qu'open web apps sur vos appareils (soit pour l'heure : Firefox OS, Firefox pour Android, et Firefox) !<br>
				<em>Some applications I enjoyed making and tweaking. They can be installed on you open web app device (that includes for now : Firefox OS, Firefox for Android, and Firefox.)</em><br><br>
			</div>
			<ul>
				<hr>
				<li>
					<a id="installschoses">Install Schoses</a>
					<div>Une simple application de listes et de notes.<br><em>A simple lists and notes application.</em></div>
					<small>&rarr; <a href="http://schoses.schoewilliam.fr">schoses.schoewilliam.fr</a></small><br>
					<small>&rarr; <a href="https://marketplace.firefox.com/app/schoses">Also on the Firefox Marketplace</a></small>
				</li>
				<hr>
				<li>
					<a id="installmusic">Install Schmusic</a>
					<div>Ma webradio personnelle, me permettant d'écouter ma musique où que je sois.<br><em>My personal webradio, which allows me to listen to my music library wherever I am.</em></div>
					<small>&rarr; <a href="/2013/08/02/music-schoewilliam-fr-résultat-dune-heure-d-ennui.html">learn more</a></small><br>
					<small>&rarr; <a href="http://music.schoewilliam.fr">music.schoewilliam.fr</a></small>
				</li>
				<hr>
				<li>
					<a id="installjourrep">Install Au Jour Républicain</a>
					<div>Affiche la date du jour selon <a href="http://fr.wikipedia.org/wiki/Calendrier_r%C3%A9publicain">le calendrier révolutionnaire/républicain</a>.<br><em>Displays the date according to the <a href="http://en.wikipedia.org/wiki/French_Republican_Calendar">French republican calendar</a></em></div>
					<small>&rarr; <a href="http://apps.schoewilliam.fr/aujourrepublicain">apps.schoewilliam.fr/aujourrepublicain</a></small>
				</li>
				<hr>
				<li>
					<a id="installselfoss">Install Schelfoss</a>
					<div>Mon outil de procrastination, propulsé par <a href="http://selfoss.aditu.de/">Selfoss</a>.<br><em>My procastination tool, powered by <a href="http://selfoss.aditu.de/">Selfoss</a></em></div>
				</li>
			</ul>
		</div>
 		<script>
		(function(){
		  function installschoses(ev) {
		    ev.preventDefault();
		    // define the manifest URL
		    var schoses_manurl = "http://schoses.schoewilliam.fr/manifest.webapp";
		    // install the app
		    var schoses_ins = navigator.mozApps.install(schoses_manurl);
		    schoses_ins.onsuccess = function(data) {
		      // App is installed, remove button
		      this.parentNode.removeChild(this);
		    };
		    schoses_ins.onerror = function() {
		      // App wasn't installed, info is in this.error.name
		      console.log('Install failed, error: ' + this.error.name);
		     };
		  };
		  // get a reference to the button and call installselfoss() on click
		  var schoses_but = document.getElementById('installschoses');
		  schoses_but.addEventListener('click', installschoses, false);
		})();
		</script>

		<script>
		(function(){
		  function installselfoss(ev) {
		    ev.preventDefault();
		    // define the manifest URL
		    var selfoss_manurl = "http://rss.schoewilliam.fr/manifest.webapp";
		    // install the app
		    var selfoss_ins = navigator.mozApps.install(selfoss_manurl);
		    selfoss_ins.onsuccess = function(data) {
		      // App is installed, remove button
		      this.parentNode.removeChild(this);
		    };
		    selfoss_ins.onerror = function() {
		      // App wasn't installed, info is in this.error.name
		      console.log('Install failed, error: ' + this.error.name);
		     };
		  };
		  // get a reference to the button and call installselfoss() on click
		  var selfoss_but = document.getElementById('installselfoss');
		  selfoss_but.addEventListener('click', installselfoss, false);
		})();
		</script>

		<script>
		(function(){
		  function installmusic(ev) {
		    ev.preventDefault();
		    // define the manifest URL
		    var schmusic_manurl = "http://music.schoewilliam.fr/manifest.webapp";
		    // install the app
		    var schmusic_ins = navigator.mozApps.install(schmusic_manurl);
		    schmusic_ins.onsuccess = function(data) {
		      // App is installed, remove button
		      this.parentNode.removeChild(this);
		    };
		    schmusic_ins.onerror = function() {
		      // App wasn't installed, info is in this.error.name
		      console.log('Install failed, error: ' + this.error.name);
		     };
		  };
		  // get a reference to the button and call installselfoss() on click
		  var schmusic_but = document.getElementById('installmusic');
		  schmusic_but.addEventListener('click', installmusic, false);
		})();
		</script>

        <script>
 		(function(){
		  function installjourrep(ev) {
              ev.preventDefault();
              var jourrep_manurl = 'http://apps.schoewilliam.fr/aujourrepublicain/package.webapp';
              var jourrep_ins = navigator.mozApps.installPackage(jourrep_manurl);
              jourrep_ins.onsuccess = function() {
                alert(this.result.origin);
              };
              jourrep_ins.onerror = function() {
                alert(this.error.name);
              };
		  };
		  var jourrep_but = document.getElementById('installjourrep');
		  jourrep_but.addEventListener('click', installjourrep, false);
		})();
		</script>
		<style>article h1 { text-align: center; }</style>
</section>
