<div id="archives">
	{% if page.en %}
		<p style="text-align: center; padding: 0;"><a href="./" style="color:#333">en</a> / <a href="/carnet" style="font-weight:normal;">fr</a></p>
	{% else %}
		<p style="text-align: center; padding: 0;"><a href="/weblog" style="font-weight:normal;">en</a> / <a href="./" style="color:#333">fr</a></p>
	{% endif %}
   <div>
	<ul>
   {% for post in site.posts %}
	    <li>
		<a {% if post.en %}class="en"{% endif %}{% if post.serif %}class="serif"{% endif %} href="{{ post.url }}">
		<time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | localize: ":default" }}</time>
		{{ post.title }}
		</a>
	   </li>
   {% endfor %}
	</ul>
   </div>
</div>
