<div id="archives">
   <div class="desc">
       Series :
	   {% for link in site.series %}
	   <a href="{{ link.url }}">{{ link.text }}</a>{% if forloop.last %}.{% else %}, {% endif %}
	   {% endfor %}
	   <a style="float:right" href="/rss">Flux RSS</a>
   </div>
   <div>
	<ul>
   {% for post in site.posts %}
	    <li>
		<a {% if post.en %}class="en"{% endif %}{% if post.serif %}class="serif"{% endif %} href="{{ post.url }}">
		<time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | localize: ":default" }}</time>
		{{ post.title }}
		</a>
	   </li>
   {% endfor %}
	</ul>
   </div>
</div>
