<section id="archives">

		<div><h2>Find me there…</h2>
			<ul>
			{% for link in site.nodes %}
			<li><a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a></li>
			{% endfor %}
			</ul>
		</div>

		<div><h2>Friends</h2>
			<ul>
			{% for link in site.blogoliste %}
			<li><a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a></li>
			{% endfor %}
			</ul>
		</div>

		<div><h2>Bookmarks</h2>
			<ul>
			{% for link in site.linkoliste %}
			<li><a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a></li>
			{% endfor %}
			</ul>
		</div>

</section>

<style>
#archives div li {
	display: inline-block;
}
#archives div li > a {
	padding: 5px 10px;
}
</style>
