<header>
	<a href="/"><img src="/images/photosmall.jpg" id="cassiopeia"></a>
	<div>
		<h1><span style="font-family: 'Tengwar Annatar';">y6Y2+ 6EO 27`Vt#</span> <span style="font-size:80%; font-style: normal; opacity: 0.5; font-family: sans-serif;">&equiv;</span></h1>
		<nav>
			<a href="/carnet"><span style="font-family: 'Tengwar Annatar'; font-size: 110%; opacity: 1; line-height: 1.5;">yw$jx^</span> <span>Weblog</span></a>
			<a href="/about"><span style="font-family: 'Tengwar Annatar'; font-size: 110%; opacity: 1; line-height: 1.5;">w#`N1U t`V</span> <span>About me</span></a>
			<a href="/rss"><span style="font-family: 'Tengwar Annatar'; font-size: 110%; opacity: 1; line-height: 1.5;">e~V2</span> <span>RSS Feed</span></a>
		</nav>
	</div>
</header>
