<header>
    <div style="text-align:center">
        <img src="/images/photosmall.jpg" id="cassiopeia" alt="logo">
        <div>
            <h1>schoewilliam</h1>
            <nav>
                <span>
                    <a href="/carnet">Weblog</a>
                    <span class="spacer">&#8226;</span>
                    <a href="/apps/">Apps &amp; experiments</a>
                    <span class="spacer">&#8226;</span>
                    <a href="/about">About</a>
                </span>
            </nav>
        </div>
    </div>
</header>
