<aside class="presences">
  <div class="container">
      <a class="presence" href="https://eldritch.cafe/@nileane">Mastodon <i class="fab fa-mastodon"></i></a>
      <a class="presence" href="https://twitter.com/Nildeala">Twitter <i class="fab fa-twitter"></i></a>
      <a class="presence" href="https://github.com/nileane">Github <i class="fab fa-github"></i></a>
      <a class="presence" href="https://unsplash.com/nileane">Unsplash <i class="fab fa-unsplash"></i></a>
      <a class="presence" rel="me" href="https://t.me/nileane">Telegram <i class="fab fa-telegram-plane"></i></a>
      <a class="presence" href="mailto:nileane@nileane.fr">Email <i class="fas fa-envelope"></i></a>
  </div>
</aside>
