<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assign page_title = '' %}
  {% if page.title == "Home" %}
      {% capture page_title %}
        {{ site.title_left }}{{ site.title_right }}
        {%if paginator and paginator.page != 1 %} - {{ paginator.page }}{% endif %}
      {% endcapture %}
  {% else %}
      {% capture page_title %}
          {%if page.slug == 'category' %}Category: {% endif %}
          {%if page.slug == 'tag' %}Tag: {% endif %} {{ page.title }} | {{ site.title_left }}{{ site.title_right }}
      {% endcapture %}
  {% endif %}
  {% capture page_title %}
      {{ page_title | strip | rstrip | lstrip | escape | strip_newlines }}
  {% endcapture %}

  <title>{{ page_title }}</title>

  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  {% assign page_image = '/images/logos/nileane-favicon-192px.png' %}

  <!-- generics -->
  <link rel="icon" type="image/svg+xml" href="/images/logos/nileane-favicon.svg">
  <link rel="icon" href="/images/logos/nileane-favicon-32px.png" sizes="32x32">
  <link rel="icon" href="/images/logos/nileane-favicon-57px.png" sizes="57x57">
  <link rel="icon" href="/images/logos/nileane-favicon-128px.png" sizes="128x128">
  <link rel="icon" href="/images/logos/nileane-favicon-192px.png" sizes="192x192">
  <link rel="icon" href="/images/logos/nileane-favicon-228px.png" sizes="228x228">
  <link rel="icon" href="/images/logos/nileane-favicon-400px.png" sizes="400x400">

  <!-- Android -->
  <link rel="shortcut icon" sizes="196x196" href="/images/logos/nileane-favicon-196px.png">

  <!-- iOS -->
  <link rel="apple-touch-icon" href="/images/logos/nileane-favicon-120px.png" sizes="120x120">
  <link rel="apple-touch-icon" href="/images/logos/nileane-favicon-152px.png" sizes="152x152">
  <link rel="apple-touch-icon" href="/images/logos/nileane-favicon-180px.png" sizes="180x180">

  <!-- Social: Facebook / Open Graph -->
{% if page.id %}
  <meta property="og:type" content="article">
  <meta property="article:author" content="{{ site.author.name }}">
  <meta property="article:section" content="{{ page.categories | join: ', ' }}">
  <meta property="article:tag" content="{{ page.keywords }}">
  <meta property="article:published_time" content="{{ page.date }}">
{% else%}
  <meta property="og:type" content="website">
{% endif %}
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.author.name }}">
  <meta property="og:locale" content="en_US">

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image:src" content="{{ page_image }}">

  <!-- Canonical link tag -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title_left }}{{ site.title_right }}" href="/feed.xml">

  <!-- rel prev and next -->
  {% if paginator.previous_page %}
    <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,800;0,900;1,400;1,500;1,800;1,900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap">
  <link rel="stylesheet" href="/assets/icons/css/all.css">
</head>
