<section class="index home">

	{% if page.en %}
		<p>There wanders my <a href="/weblog">weblog</a> (<a href="/flux.xml">RSS</a>). When I think out loud.
		<br><a href="/en/links.html">Contact and links</a>.</p>
		<p style="font-size:70%"><a href="/en" style="color:#333">en</a> / <a href="/" style="font-weight:normal;">fr</a></p>
	{% else %}
		<p>Par ici traîne mon <a href="/carnet">carnet</a> (<a href="/flux.xml">RSS</a>). Lorsque je pense tout haut.
		<br><a href="/liens.html">Contact et liens</a>.</p>
		<p style="font-size:70%"><a href="/en" style="font-weight:normal;">en</a> / <a href="/" style="color:#333">fr</a></p>
	{% endif %}

</section>
