{% assign page = site.posts.first %}
{% assign content = page.content %}
{% include postdetails.html %}

{% assign last = site.posts.first %}
{% if last.comments != "false" %}
<section class="comments">
	<div id="comments" class="comments">
		<a class="comment_addcomment" href="{{ last.url }}">{% if last.en %}Comments{% else %}Réponses{% endif %} &rarr;</a>
	</div>
</section>
{% endif %}

<div class="readnext">
{% if page.previous.url %}
<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
	<span>Précédemment… <span>Previously…</span></span>
	<h1>{{page.previous.title}}</h1></a>
{% endif %}
</div> 
