<section class="intro">
  <div class="container">
    <div id="avatar-wrapper"><img src="/images/logos/avatar.jpg" alt="avatar" id="avatar-img"></div>

    <p class="lead" id="about">Hi 👋, I'm Niléane.<br>Activist &amp; tech enthusiast.</p>

    <div class="line"></div>

    <p id="contact">Feel free to come &amp; say hi :)<br>
    <a class="presence" href="https://twitter.com/Nildeala"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a> &bull;
    <a class="presence" rel="me" href="https://t.me/nileane"><i class="fab fa-telegram-plane"></i> Telegram</a> &bull;
    <a class="presence" href="mailto:nileane@nileane.fr"><i class="fas fa-envelope" aria-hidden="true"></i> Email</a></p>
  </div>
</section>
