<section class="intro">
  <div class="container">
    <p class="lead"><strong>Hi, I'm Niléane</strong>. I'm a tech enthusiast and I make nice designs on the Web. I'm also a former Geography student.</p>

    <div class="line"></div>
    <p><br>Feel free to come & say hi via <a class="presence" href="https://twitter.com/Nildeala"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>, <a class="presence" href="https://t.me/Nileane"><i class="fab fa-telegram-plane" aria-hidden="true"></i> Telegram</a>  or <a class="presence" href="mailto:nileane@nileane.fr"><i class="fas fa-envelope" aria-hidden="true"></i> Email</a></p>
  </div>
</section>
