<section class="intro">
  <div class="container">
    <p class="lead" id="about"><strong>Hi, I'm Niléane</strong>. I'm a tech enthusiast and I make nice designs on the Web. I'm also a former Geography student.</p>

    <div class="line"></div>

    <div id="avatar-wrapper"><img src="/images/logos/avatar.jpg" alt="avatar-img" id="avatar-img"></div>

    <p id="contact"><br>Feel free to come &amp; say hi via <br>
    <a class="presence" href="https://twitter.com/Nildeala"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>,
    <a class="presence" rel="me" href="https://eldritch.cafe/@nileane"><i class="fab fa-mastodon"></i> Mastodon</a>,
    <a class="presence" href="https://t.me/Nileane"><i class="fab fa-telegram-plane" aria-hidden="true"></i> Telegram</a> 
    or <a class="presence" href="mailto:nileane@nileane.fr"><i class="fas fa-envelope" aria-hidden="true"></i> Email</a>.</p>
  </div>
</section>
