<div>
<h2 style="font-size:200%">William Dorffer</h2>
<p style="margin: 10px 0;"><span class="label grey">fr</span> Habitant l'île de la Réunion, domicilié sur la Banquise, timide adorateur de GNU/Linux, et quelque peu obsédé par Mozilla. Me voilà plongé parmi les logiciels libres depuis quatre ans et je compte bien continuer d'y nager.</p>
<p style="margin: 10px 0;"><span class="label grey">en</span> <em>Living in Réunion Island, wandering on the floe, GNU/Linux lover, and a bit involved in Mozilla. I've been swimming along with free softwares for four years now, and am not about to be done yet.</em></p><br>

<h3 style="font-size:150%"><em>I'll be there…</em> &#9834;</h3>
<p style="margin: 0;">
	<a href="https://bbs.archlinux.org/profile.php?id=55538">Arch Linux Forums</a> <span style="opacity: 0.4">·</span> 
	<a href="http://schoewilliam.deviantart.com/">DeviantArt</a> <span style="opacity: 0.4">·</span> 
	<a href="https://github.com/Schoewilliam">Github</a> <span style="opacity: 0.4">·</span> 
	<a href="https://mozillians.org/en-US/u/schoewilliam/">Mozillians</a> <span style="opacity: 0.4">·</span> 
	<a href="http://www.reddit.com/user/schoelcher/">reddit</a> <span style="opacity: 0.4">·</span> 
	<a href="https://status.vinilox.eu/schoewilliam">StatusNET / GNU Social</a>
</p>
</div>
