<section class="article {%  if page.centered == true %}centered{% endif %}">
<article>
<time datetime='{{ post.date | date: "%Y-%m-%d" }}' class="top">{% if page.en %}{{ page.date | date: "%-d %B %Y" }}{% else %}
{{ page.date | date: "%-d %B %Y" }}{% endif %}</time>

<hgroup>
{% if page.link %}
	<h1><a target=_blank href="{{ page.link | escape }}">{{ page.title }}</a>&nbsp;→</h1>
{% elsif page.series %}
	<h1><a href="{{ page.series.url }}">{{ page.series.name }}</a> #{{ page.series.index }} : {{ page.series.episode }}</h1>
{% else %}
	<h1>{{ page.title }}</h1>
{% endif %}
</hgroup>

<div id="post"{% if page.link %} class=link{% endif %}>
	{{ content }}
</div>

</article>
</section>
<hr class="wide">
