<div>
	<section>
		<div>
			<img src="http://schoses.schoewilliam.fr/img/icon-128.png" style="border-radius:0">
			<h3>Schoses</h2>
			<p>Une application qui permet faire des listes de petites <em>choses</em> et les ordonner.</p>
		</div>
		<aside><strong><em>Août 2013</em></strong> · <a href="#">En savoir plus</a> · <a href="https://github.com/Schoewilliam/Schoses">Sources</a></aside>
	</section>

	<hr>

	<section>
		<div>
			<img src="/images/mpd/music.schh.png">
			<h3>music.schh</h2>
			<p>Une petite application qui diffuse la musique que j'écoute en direct. Elle fonctionne sur une structure MPD+Icecast pour la partie serveur.</p>
		</div>
		<aside><strong><em>Août 2013</em></strong> · <a href="https://marketplace.firefox.com/app/musicschh/">Firefox Marketplace</a> · <a href="/2013/08/02/music-schoewilliam-fr-r%C3%A9sultat-dune-heure-d-ennui.html">En savoir plus</a> · <a href="https://github.com/Schoewilliam/music.schoewilliam">Sources</a></aside>
	</section>

	<hr>

	<section>
		<div>
			<img src="/images/minisch/comments.png">
			<h3>Minisch</h2>
			<p>Un thème élégant, clair et fonctionnel pour Wordpress. Conçu pour mon utilisation personnelle il y a quelques temps, puis internationalisé et stabilisé.</p>
		</div>
		<aside><strong><em>Mai 2012</em></strong> · <a href="/2013/01/07/minisch.html">En savoir plus</a> · <a href="https://github.com/Schoewilliam/Minisch">Sources</a></aside>
	</section>

</div>
