<div>
	<section>
		<div><img src="http://schoses.schoewilliam.fr/img/icon-128.png" style="border-radius:0">
			<h3>Schoses</h2>
			<p><strong><em>Août 2013</em></strong> · Une application pour garder quelques petites <em>choses</em> ordonnées à la volée, et éventuellement classées dans plusieurs listes. Fonctionne totalement hors-ligne.</p>
		</div>
		<aside><a href="https://marketplace.firefox.com/app/schoses" class="bouton" style="background-color:#B74738">Firefox Marketplace</a>
			<a href="http://schoses.schoewilliam.fr" style="background-color:#3879B7;" class="bouton">Lancer</a>
			<a href="/2013/08/11/schoses-disponible-sur-le-firefox-marketplace-.html" class="bouton">En savoir plus</a>
			<a  class="bouton" href="https://github.com/Schoewilliam/Schoses">Sources</a>
		</aside>
	</section>

	<hr>

	<section>
		<div><img src="/images/mpd/music.schh.png">
			<h3>music.schh</h2>
			<p><strong><em>Août 2013</em></strong> · Une petite application qui diffuse la musique que j'écoute en direct. Elle fonctionne sur une structure MPD+Icecast pour la partie serveur.</p>
		</div>
		<aside><a href="https://marketplace.firefox.com/app/musicschh/" class="bouton" style="background-color:#B74738">Firefox Marketplace</a>
			<a href="http://music.schoewilliam.fr" style="background-color:#3879B7;" class="bouton">Lancer</a>
			<a href="/2013/08/02/music-schoewilliam-fr-r%C3%A9sultat-dune-heure-d-ennui.html" class="bouton">En savoir plus</a>
			<a href="https://github.com/Schoewilliam/music.schoewilliam" class="bouton">Sources</a>
		</aside>
	</section>

	<hr>

	<section>
		<div><img src="/images/minisch/comments.png">
			<h3>Minisch</h2>
			<p><strong><em>Mai 2012</em></strong> · Un thème élégant, clair et fonctionnel pour Wordpress. Conçu pour mon utilisation personnelle il y a quelques temps, puis internationalisé et stabilisé.</p>
		</div>
		<aside><a href="/2013/01/07/minisch.html" class="bouton">En savoir plus</a>
			<a href="https://github.com/Schoewilliam/Minisch" class="bouton">Sources</a>
		</aside>
	</section>

</div>
