/* Color schemes */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
  background: #f7f7f7;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: .2s box-shadow;
}

a::before {
    background: #ddcceb;
    border-radius: 5px;
    content: "";
    height: 0.4em;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: rotateZ(-2deg);
    transition: transform 0.2s;
    z-index: -1;
}
a:hover::before,
a:focus::before {
  background: #ccb5df;
  transform: rotateZ(-2deg) scaleY(2) translateY(-0.2em);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #f7f7f7;
  }

  a { box-shadow: inset 0 -.4em #555; }
  a:hover, a:focus { box-shadow: inset 0 -.5em #5d357d; }
}

/* Main formatting */

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Ubuntu, Cantarell, Lato, Helvetica, Arial, sans-serif;
  font-size: 125%;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 1.5em 2em;
  max-width: 20em;
}
@media screen and (max-width:700px) {
  body {
    padding-top: 5rem;
  }
}

h1 {
  text-align: center;
  margin: 0 0 1.5rem;
  line-height: 1;
  font-size: 2.5rem;
}
h1 small {
  font-size: 90%;
  font-weight: normal;
}
@media screen and (max-width:350px) {
  h1 {
    font-size: 2.2rem;
  }
}

p {
  margin: 0 0 1.5em;
}

.footer {
  font-size: 80%;
  margin-top: 3.5rem;
  text-align: center;
}

/* Decorations */

.hero {
  display: table-cell;
  height: calc(100vh - 5.5rem);
  vertical-align: middle;
}

.avi {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 6em;
}

.nb {
  display: block;
  margin: 1.5em auto;
  width: 5em;
}

.selfie {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -.4rem auto 1.4rem;
  display: block;
}

.emojitalk {
  text-align: center;
  margin: 1.2rem auto;
}
.emoji {
  height: 45px;
  display: inline-block;
  margin-bottom: -.1em;
}
@media screen and (max-width:350px) {
  .emoji {
    height: 40px;
  }
}

.bio {
  text-align: center;
}

/* Animations */

@keyframes draw {
  from { stroke-dashoffset: 550; }
  to { stroke-dashoffset: 0; }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes wave {
  from {
    box-shadow: inset 0 -.4em #555;
  }
  to {
    box-shadow: inset 0 -.4em #b383da;
  }
}

.emoji1, .emoji2, .emoji3 { animation: .2s ease-in .2s both fade; }
.emoji2 { animation-delay: .6s; }
.emoji3 {
  transform: rotateZ(90deg);
  animation-delay: 1s;
}

@media (prefers-reduced-motion) {
  .emoji {
    animation: none;
  }
}
