/* Color schemes */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: #f7f7f7;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: .2s box-shadow;
}

a::before {
    background: rgb(255, 217, 173);
    border-radius: 5px;
    content: "";
    height: 0.4em;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: rotateZ(-2deg);
    transition: transform 0.2s;
    z-index: -1;
}
a:hover::before,
a:focus::before {
    background: rgb(255, 217, 173);
    transform: rotateZ(-2deg) scaleY(2) translateY(-0.2em);
}

/* Main formatting */

html {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 125%;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 18em;
}

h1 {
  text-align: start;
  margin: 0 0 1rem;
  line-height: 1;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
}
h1 small {
  font-size: 90%;
  font-weight: normal;
}
h1 img {
  transform: rotate(-7deg) translate(-10px);
  display: inline-block;
}
h1::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 95px;
  height: 95px;
  background-color: #FFD9AD;
  border-radius: 20px;
  z-index: -1;
  transform: rotate(10deg) translate(-3px, 5px);
}

p {
  margin: 0 0 1em;
  text-wrap: balance;
}
p img {
  float: inline-start;
  margin-inline-start: -30px;
}

hr {
  border: none;
  border-bottom: 1px solid #DDD;
  margin: 2em 0 1em;
  width: 3em;
}

.footer {
  text-align: start;
  margin-bottom: 1em;
  font-size: 95%;
}
.footer a {
  font-weight: bold;
}
@media screen and (max-width:500px) {
  footer {
    font-size: 90%;
  }
}

/* Decorations */

.hero {
  display: grid;
  align-items: center;
  justify-items: center; 
  height: 100vh;
  padding: 2rem 0;
  box-sizing: border-box;
  vertical-align: middle;
}

.avi {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 6em;
}

.nb {
  display: block;
  margin: 1.5em auto;
  width: 5em;
}

.signature  {
  float: right;
  transform: rotate(-2deg) translate(-30px, -30px);
}

/* Animations */

@keyframes draw {
  from { stroke-dashoffset: 550; }
  to { stroke-dashoffset: 0; }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes wave {
  from {
    box-shadow: inset 0 -.4em #555;
  }
  to {
    box-shadow: inset 0 -.4em #b383da;
  }
}
