@media print {
  html { font-size: 11pt; }

  body {
    background: none;
    color: #222;
    padding: unset;
    margin: unset;
    max-width: unset;
  }

  .hero { display: block; }
  .footer { text-align: initial; }

  a, a.podcast {
    box-shadow: none;
    color: blue;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
    color: #222;
    font-size: 75%;
    font-weight: 400;
  }
}
