---
title: À propos
titleen: About me
mainindex: true
layout: page
center: true
---
<div class="aboutme">
	<p class="tengwar">`B t# <strong>yjT`Bt# 26Ye'6R</strong>-= y2{#7Rb% 5^ @ ej`N`V= 8qU'6Y1b% x5`M 3b%+= 2{( jE8`N `C w1T 5%rjYr2$ y3T <a href="https://mozillians.org/u/schoewilliam/" target="_blank">t,YjT`C</a>-=</p>
	<p>Je suis <strong>William Dorffer</strong></a>. Vagabondant sur la Banquise, défenseur GNU, et quelque peu <a href="https://mozillians.org/u/schoewilliam/" target="_blank">Mozillien</a>.</p>
	<p class="en">I am <strong>William Dorffer</strong>. Wandering on the floe, supporting GNU things, and also a bit involved with <a href="https://mozillians.org/u/schoewilliam/" target="_blank">Mozilla</a>.</p>

	<br><hr><br>

	<p><strong>Me contacter …  <span class="en">Contact me…</span></strong>
	<a href=#>schoewilliam[at]legtux[dot]org</a></p>

	<p>On me trouvera par là …  <span class="en">Find me there…</span><br>
	{% for link in site.nodes %}<a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}</p>

	<p>Quelques amis …  <span class="en">Some Friends…</span><br>
	{% for link in site.blogoliste %}<a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}</p>

	<p>Liens …  <span class="en">Links…</span><br>
	{% for link in site.linkoliste %}<a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}</p>
</div>
