RewriteEngine on
RewriteCond %{HTTP_HOST}   ^schoewilliam.legtux\.org [NC]
RewriteRule ^/?(.*)         http://schoewilliam.fr/$1 [L,R=301]
RewriteCond %{HTTP_HOST}   ^www.schoewilliam.legtux\.org [NC]
RewriteRule ^/?(.*)         http://www.schoewilliam.fr/$1 [L,R=301]
RewriteRule ^blog / [R]
RewriteRule ^minisch /2013/01/07/minisch.html [R]
RewriteRule ^rss /flux.xml [R]
ErrorDocument 404 /oups/404.html
AddType application/x-web-app-manifest+json .manifest
