@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,800;0,900;1,400;1,500;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
@import url('/assets/icons/css/all.css');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align:baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
}

body {
    line-height:1
}

ol, ul {
    list-style:none
}

blockquote, q {
    quotes:none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content:none
}

table {
    border-collapse: collapse;
    border-spacing:0
}


fieldset {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin: 0 0 .75em;
    padding:1.5em
}

input, label, select {
    display: block;
    font-family: "Fira Sans", monospace;
    font-size:1em
}

label {
    font-weight: 600;
    margin-bottom:.375em
}

label.required::after {
    content: "*"
}

label abbr {
    display: none
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select[multiple=multiple] {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .52em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-family: "Fira Sans", monospace;
    font-size: 1em;
    margin-bottom: .75em;
    padding: .5em;
    transition: border-color 150ms ease;
    width: 100%
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover, select[multiple=multiple]:hover {
    border-color: #a3a3a3
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus, select[multiple=multiple]:focus {
    border-color: #000;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 0, 0, 0.7);
    outline: none
}

input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled, select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed
}

input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover, select[multiple=multiple]:disabled:hover {
    border:1px solid #ccc
}

textarea {
    resize: vertical
}

input[type="search"] {
    appearance: none
}

input[type="checkbox"], input[type="radio"] {
    display: inline;
    margin-right: .375em
}

input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block
}

input[type="file"] {
    margin-bottom: .75em;
    width:100%
}

select {
    margin-bottom: 1.5em;
    max-width: 100%;
    width:auto
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding:0
}

dl {
    margin-bottom:.75em
}

dl dt {
    font-weight: bold;
    margin-top:.75em
}

dl dd {
    margin:0
}

table {
    border-collapse: collapse;
    font-feature-settings: "kern", "liga", "tnum";
    margin: .75em 0;
    table-layout: fixed;
    width:100%
}

th {
    border-bottom: 1px solid #999;
    font-weight: 600;
    padding: .75em 0;
    text-align:left
}

td {
    border-bottom: 1px solid #ccc;
    padding:.75em 0
}

tr, td, th {
    vertical-align:middle
}

body {
    font-family: "Fira Sans", monospace;
    font-size: 1em;
    line-height:1.5
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", monospace;
    font-size: 1em;
    line-height: 1.2;
    margin: .75em 0 .75em 0;
    font-weight:700
}

h1 {
    font-size:1.875rem
}

h2 {
    font-size:1.625rem
}

h3 {
    font-size:1.5rem
}

h4 {
    font-size:1.25rem
}

h5, h6 {
    font-size:1rem
}

p {
}


p.lead {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.2;
}
@media screen and (max-width:500px) {
    p.lead {
        font-size: 1.65rem;
    }
}
@media screen and (max-width:375px) {
    p.lead {
        font-size: 1.4rem;
    }
}

a {
    color: #000;
    text-decoration: none;
    transition:color 150ms ease
}

.linkitem {
  display: inline-block;
}


hr {
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin:1.5em 0
}

img, picture {
    margin: 0;
    max-width:100%
}

blockquote {
    padding: 1.5em 0 1.5em 1.5em;
    margin: 1.5em 0;
    color: #333;
    line-height: 1.8;
    border-left: .75em solid #ccc;
    background-color:#f2f2f2
}

blockquote p {
    margin:0
}

code {
    background: none;
    border-radius: 0;
    border: none;
    font-family: "SFMono-Regular", Menlo, Consolas, "Inconsolata", monospace;
    font-size: 1em;
    margin: 0;
    padding: 0 5px;
    background-color:#ededed
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "SFMono-Regular", Menlo, Consolas, "Inconsolata", monospace;
    font-size: 1em;
    margin: 0;
    padding: 5px 10px !important;
    overflow: auto;
    max-height: 60em;
    white-space: pre;
    border:1px solid #ccc
}

pre code {
    line-height: 1.75em;
    padding:0 !important
}

strong {
    font-weight:bold
}

em {
    font-style:italic
}

ul, ol, dl {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: square;
    list-style-position: outside;
    list-style-image:none
}

*, * :before, * :after {
    box-sizing:border-box
}


.clearfix, .presences, .post {
    * zoom:1
}

.clearfix:before, .presences:before, .post:before {
    content: " ";
    display:table
}

.clearfix:after, .presences:after, .post:after {
    content: " ";
    display: table;
    clear:both
}

body {
    background-color: #000;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }
}
body.home {
    background-color: #000;
}
body.home:after {
    content: " ";
    background-image: url(/images/photos/abstract.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media screen and (prefers-color-scheme: dark) {
    body.home:after {
      opacity: .4;
    }
}

/*
 * Accessible navigation shortcuts, to skip through content
 * Inspired by the MDN's keyboard navigation
 */
#skip-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -30rem;
    width: 100%;
    z-index: 1001;
}

#skip-nav a {
    background: #fff;
    left: 1rem;
    padding: 1rem;
    position: absolute;
}

#skip-nav a:focus {
    top: 21rem;
}

.wrapper {
    position: relative;
    height: 400px;
    padding: 70px;
    margin: 20vh 10vw 25px;
    overflow: hidden;
    background-image: linear-gradient(130deg, #ffffff 42.86%, #ebebeb 42.86%, #ebebeb 50%, #ffffff 50%, #ffffff 92.86%, #ebebeb 92.86%, #ebebeb 100%);
    background-size: 9.14px 10.89px;
    max-width: 380px;
    font-family: "Fira Code", monospace;
    box-shadow: inset 0 180px 0 #2b0d3c;
}
@media screen and (max-width:500px) {
    .wrapper {
        padding: 40px;
        height: 350px;
        margin-top: 15vh;
    }
}
@media screen and (max-width:350px) {
    .wrapper {
        padding: 40px;
        height: 350px;
        margin-top: 10vh;
    }
}

.paper.top {
    height: 40px;
    background: #4b206f;
    position: absolute;
    right: 0;
    z-index: 2;
    left: 0;
    top: 0;
}
.paper.bottom {
    height: 40px;
    background: #000;
    position: absolute;
    right: 0;
    z-index: 1;
    left: 0;
    bottom: 0;
}

.paper.left {
    width: 40px;
    background: #cccccc9e;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 2;
    left: 0;
}
.paper.right {
    width: 40px;
    background: #4b0b519e;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 2;
    right: 0;
}
@media screen and (prefers-color-scheme: dark) {
    .paper.top {
      background-color: #4b206f;
    }
    .paper.left {
      background-color: #2121219e;
    }
}
@media screen and (max-width:500px) {
  .paper.left, .paper.right {
    width: 20px;
  }
  .paper.top, .paper.bottom {
    height: 20px;
  }
}
.paper {
  animation: foldingin 1s 1;
}
@keyframes foldingin {
    from {
      transform: rotate(8deg) scale(5);
    }
    to {
      transform: rotate(0) scale(1);
    }
}

.links {
    margin: 25px 10vw 10vh;
    padding: 0 70px;
    font-family: "Fira Code", monospace;
    font-weight: bold;
    max-width: 380px;
    color: #fff;
    text-shadow: 0 0 20px #000, 0 0 10px #000;
}
.links a {
    padding: .7rem 1rem;
    margin-left: -1rem;
    background-color: #000;
    color: #fff;
    display: inline-block;
    transition: all .2s;
    text-shadow: none;
    box-shadow: inset 0 0 0 5px #4b206f4f;
}
.links a:hover {
    background-color: #fff;
    color: #000;
}
@media screen and (max-width:500px) {
    .links {
      padding: 0 40px;
      font-size: 80%;
    }
}

hr {
    border-top: none;
    border-bottom: 2px solid #dedede;
    width: 100%;
    margin:.75em 0
}

.container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    text-align: left;
}


.pull-left {
    float:left
}

.pull-right, .post-item .date-label {
    float:right
}

.link, .presences a, .pagination .prev, .pagination .next, .post-link, .post a, .page a, .navbar a, .intro a {
    color: #b07dfa;
    padding-bottom: .05em;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 300ms linear;
    -moz-transition: border 300ms linear;
    transition:border 300ms linear
}

.link:hover, .presences a:hover, .pagination .prev:hover, .pagination .next:hover, .post-link:hover, .post a:hover, .page a:hover, .navbar a:hover, .intro a:hover, .link:focus, .presences a:focus, .pagination .prev:focus, .pagination .next:focus, .post-link:focus, .post a:focus, .page a:focus, .navbar a:focus, .intro a:focus, .link:active, .presences a:active, .pagination .prev:active, .pagination .next:active, .post-link:active, .post a:active, .page a:active, .navbar a:active, .intro a:active {
    border-bottom:2px solid #b07dfa;
}

.site-header {
    margin-bottom: .75em;
    min-height:80px;
    position: relative;
}

.intro {
    position: absolute;
    bottom: 70px;
    right: 70px;
    left: 70px;
}

@media screen and (max-width:500px) {
  .intro {
    bottom: 40px;
    right: 40px;
    left: 40px;
  }
}

.intro .author-name {
    display: inline-block;
    padding: 0 .2em;
    background:#f2f2f2
}

.logo {
    float: left;
    margin: 0 0 1em 0;
    cursor: pointer;
    letter-spacing: 0.8px;
    font-size: 20px;
    line-height: 28px;
    font-weight:300
}

.logo span {
    font-weight:700
}

#logo {
    margin-bottom: -5px;
    height: 40px;
}

#avatar-wrapper {
    margin: 1.2em 1.2em 1.2em;
    border-radius: 50%;
    position: relative;
}
#avatar-img {
    width: 50px;
    background: #000;
    border-radius: 50%;
}
@media screen and (min-width:350px) {
    #logo {
      height: 50px;
    }
}


.nav {
    min-height:64px
}

.line {
    position: relative;
    margin: 1.5em auto 1.5em;
    height: 3px;
    max-width: 250px;
    background-image: linear-gradient(to right, #D87D46, #6761DF);
    animation: 3s line cubic-bezier(0, 0, 0, 1) 1;
    border-radius: 2px;
}
@media screen and (max-width:350px) {
    .line {
        margin: 1.2em auto 1.2em;
    }
}

@keyframes line {
  from {
    max-width: 1%;
  }
  to {
    max-width: 250px;
  }
}

.navbar {
    float: right;
    margin: 0;
    position: relative;
    padding: 0;
    pointer-events: all;
    cursor:pointer
}

.navbar li {
    display: inline-block;
    padding:0 .6em
}

.category-title {
    margin:1em 0 0.5em 0
}

.category-title:first-child {
    margin-top:0
}

.post-item {
    margin-bottom: 2.2em;
    display:block
}

.post-item a {
}

.post-item .article-title {
    display: inline-block;
    width:85%
}

.post-item .date-label {
    padding: 0 0.2em;
    margin-left: 1em;
    margin-top:2px
}

.post-meta {
    color: #999;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    font-size: .875rem;
    margin-bottom:1px
}

.post-title {
    margin-top: 0;
    margin-bottom: 1em;
    color:#333
}

.pagination li, .pagination a, .pagination span {
    display:inline-block
}

.pagination a, .pagination span {
    font-size: .75rem;
    padding:.5em
}

.share {
    border-top: 0.2em dashed #ededed;
    padding-top: 1.5em;
    margin-top:3em
}

.share p {
    margin: 0 5em;
    font-size: .875rem;
    color:#999
}

.disqus {
    background-color: #f5f5f5;
    padding:1.5em 0
}

.disqus hr {
    margin:1.5em 0
}

.presences {
    position: absolute;
    top: 40px;
    right: 40px;
    left: 40px;
}
.presences small {
    display: block;
    font-size: .75rem;
    color:lightgray
}

.presences .block {
    display:block
}
.presences .container {
    display: grid;
    text-align: right;
    grid-template-columns: repeat(2, 1fr);
}
.presences a {
    display: block;
    font-weight: bold;
    margin: 0;
    height: calc(140px / 3);
    background: rgba(255, 255, 255, 0.03);
    padding: .8rem 1.4rem .8rem 0;
    border: 0 none;
    font-size: 90%;
    transition: .2s all;
    animation: 1.4s fadingin 1;
}
.presences a:hover {
    background-color: #000 !important;
    color: #fff;
    border: 0 none;
}
.presences a:last-of-type {
    grid-area: 3 / 2;
}
.presences a:nth-child(1),
.presences a:nth-child(5) {
    background: rgba(255, 255, 255, 0.01);
}
.presences a:nth-child(2),
.presences a:nth-child(6) {
    background: rgba(255, 255, 255, 0.08);
}
.presences a:nth-child(3) {
    background: rgba(255, 255, 255, 0.07);
}
@media screen and (max-width:500px) {
  .presences {
      position: absolute;
      top: 20px;
      right: 20px;
      left: 20px;
      height: 160px;
  }
  .presences a {
      height: calc(160px / 3);
      padding: 1.1rem .8rem 1rem 0;
      font-size: 75%;
  }
}
@keyframes fadingin {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow:hidden
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

.divider {
    border-top: 0.2em solid #ededed;
    margin-bottom: 3em;
    margin-top:3em
}

@media (max-width: 600px) {
    .date-label {
        float: left !important;
        border: 0 !important;
        margin-left: -2px !important;
        margin-top: 2px;
        margin-right:1em
    }

    .article-title {
        border-bottom:none !important
    }

    .post-link:hover, .post-link:focus, .post-link:active {
        border-bottom: 2px solid transparent;
        color:#8a7dfa
    }
}

.highlight {
    margin: 1.5em 0;
    padding: 0;
    box-shadow:0px 0px 2px rgba(0, 0, 0, 0.1)
}

.highlighter-rouge .highlight, .highlight, .highlight .hll, .highlight pre, .highlight code {
    background-color:#f2f2f2 !important
}

.highlight pre {
    margin: 0;
    padding: 1.5em;
    white-space: pre;
    line-height: 23px;
    overflow-x: auto;
    margin-bottom: 0;
    word-break: inherit;
    word-wrap:inherit
}

.highlight pre, .highlight pre code {
    color:rgba(51, 51, 51, 0.8)
}

.highlight pre code {
    white-space: pre;
    padding:0 !important
}

.highlight pre code * {
    white-space:nowrap
}

.highlight .c {
    color: #998;
    font-style:italic
}

.highlight .err {
    color: #a61717;
    background-color:#e3d2d2
}

.highlight .k {
    font-weight:bold
}

.highlight .o {
    font-weight:bold
}

.highlight .cm {
    color: #998;
    font-style:italic
}

.highlight .cp {
    color: #999;
    font-weight:bold
}

.highlight .c1 {
    color: #998;
    font-style:italic
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style:italic
}

.highlight .gd {
    color: #000;
    background-color:#fdd
}

.highlight .gd .x {
    color: #000;
    background-color:#faa
}

.highlight .ge {
    font-style:italic
}

.highlight .gr {
    color:#a00
}

.highlight .gh {
    color:#999
}

.highlight .gi {
    color: #000;
    background-color:#dfd
}

.highlight .gi .x {
    color: #000;
    background-color:#afa
}

.highlight .go {
    color:#888
}

.highlight .gp {
    color:#555
}

.highlight .gs {
    font-weight:bold
}

.highlight .gu {
    color:#aaa
}

.highlight .gt {
    color:#a00
}

.highlight .kc {
    font-weight:bold
}

.highlight .kd {
    font-weight:bold
}

.highlight .kp {
    font-weight:bold
}

.highlight .kr {
    font-weight:bold
}

.highlight .kt {
    color: #458;
    font-weight:bold
}

.highlight .m {
    color:#099
}

.highlight .s {
    color:#d14
}

.highlight .na {
    color:#008080
}

.highlight .nb {
    color:#8a7dfa
}

.highlight .nc {
    color: #458;
    font-weight:bold
}

.highlight .no {
    color:#008080
}

.highlight .ni {
    color:#800080
}

.highlight .ne {
    color: #900;
    font-weight:bold
}

.highlight .nf {
    color: #900;
    font-weight:bold
}

.highlight .nn {
    color:#555
}

.highlight .nt {
    color:#000080
}

.highlight .nv {
    color:#008080
}

.highlight .ow {
    font-weight:bold
}

.highlight .w {
    color:#bbb
}

.highlight .mf {
    color:#099
}

.highlight .mh {
    color:#099
}

.highlight .mi {
    color:#099
}

.highlight .mo {
    color:#099
}

.highlight .sb {
    color:#d14
}

.highlight .sc {
    color:#d14
}

.highlight .sd {
    color:#d14
}

.highlight .s2 {
    color:#d14
}

.highlight .se {
    color:#d14
}

.highlight .sh {
    color:#d14
}

.highlight .si {
    color:#d14
}

.highlight .sx {
    color:#d14
}

.highlight .sr {
    color:#009926
}

.highlight .s1 {
    color:#d14
}

.highlight .ss {
    color:#990073
}

.highlight .bp {
    color:#999
}

.highlight .vc {
    color:#008080
}

.highlight .vg {
    color:#008080
}

.highlight .vi {
    color:#008080
}

.highlight .il {
    color: #099
}
