/* polices */

/* @font-face {
    font-family: 'Feura Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/feurasans/FeuraSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Feura Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/feurasans/FeuraSans-Bold.ttf) format('truetype');
} */

@font-face {
    font-family: 'charissil';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/charissil/charissilr-webfont.woff') format('woff'),
         url('/fonts/charissil/charissilr-webfont.ttf') format('truetype'),
         url('/fonts/charissil/charissilr-webfont.svg#charis_silregular') format('svg');
}
@font-face {
    font-family: 'charissil';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/charissil/charissili-webfont.woff') format('woff'),
         url('/fonts/charissil/charissili-webfont.ttf') format('truetype'),
         url('/fonts/charissil/charissili-webfont.svg#charis_silregular') format('svg');
}
@font-face {
    font-family: 'charissil';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/charissil/charissilb-webfont.woff') format('woff'),
         url('/fonts/charissil/charissilb-webfont.ttf') format('truetype'),
         url('/fonts/charissil/charissilb-webfont.svg#charis_silbold') format('svg');
}
@font-face {
    font-family: 'charissil';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/charissil/charissilbi-webfont.woff') format('woff'),
         url('/fonts/charissil/charissilbi-webfont.ttf') format('truetype'),
         url('/fonts/charissil/charissilbi-webfont.svg#charis_silbold') format('svg');
}
