
#isso-thread {
    margin: 0 auto 0 !important;
    padding: 2em 10% !important;
    text-align: left;
    background-color: #fafafa !important;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#isso-thread > * {
    margin: 0 auto;
    font-size: 90% !important;
}
#isso-thread h4 {
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.8) !important;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.isso-postbox > .form-wrapper .textarea {
    border-radius: 3px !important;
}
.isso-postbox > .form-wrapper .textarea:focus {
    border-color: #346EC5 !important;
}
.isso-postbox > .form-wrapper > .auth-section .post-action > input {
    padding: calc(0.3em - 3px) 16px !important;
    border-radius: 3px !important;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    transition: all 0.2s ease 0s;
    font-size: 90% !important;
    background-color: #95a5a6 !important;
    border: 0 !important;
    box-shadow: 0 0 !important;
}
.isso-postbox > .form-wrapper > .auth-section .post-action > input:hover {
    background-color: #346EC5 !important;
}
.isso-postbox > .form-wrapper > .auth-section .post-action > input:active {
    background-color: #111 !important;
}
.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
    font-size: 80% !important;
    padding: .25em 10px !important;
}
.isso-comment:not(:first-of-type), .isso-follow-up .isso-comment {
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
}
