
#isso-thread {
    margin: 0 auto 0 !important;
    padding: 2em 10% !important;
    text-align: left;
    background-color: #fafafa !important;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#isso-thread > * {
    margin: 0 auto;
    font-size: 90% !important;
}
#isso-thread h4 {
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.isso-postbox > .form-wrapper .textarea {
    border-radius: 0 !important;
    box-shadow: 0 0 !important;
}
.isso-postbox > .form-wrapper > .auth-section .post-action > input {
    padding: calc(0.3em - 1px) 16px !important;
    border-radius: 3px !important;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff !important;
    transition: all 0.2s ease 0s;
    font-size: 90% !important;
    box-shadow: 0px 0px !important;
    background-color: #1C365F !important;
    border: 0 !important;
}
.isso-postbox > .form-wrapper > .auth-section .post-action > input:hover {
    background-color: #346EC5 !important ;
    font-size: 90% !important;
    color: #fff !important;
}
.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
    box-shadow: 0 1px rgba(0, 0, 0, .05) !important;
    border: 0 !important;
    border-radius: 0 !important;
    font-style: italic;
    font-size: 90% !important;
    background-color: #fafafa !important;
}
.isso-comment:not(:first-of-type), .isso-follow-up .isso-comment {
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
}
