section.minisch {
    background: url(/images/bg.png) repeat;
    border:1px dashed #ccc;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}
.minisch .wrap {
    padding: 10px 20px;
    min-width: 650px;
    position: relative;
}
.wrap * { white-space: normal; text-align:left; } 

section.minisch a {
    border: 0;
    color: #2D71B5;
}
section.minisch a:hover {
    text-decoration: underline;
}

.minisch.index article {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -2px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
}
.minisch.index .entry-header {
    min-height: 60px;
    padding: 15px 20px;
}
.minisch .comment:last-child {
    padding: 0;
}
.minisch.index .comments-link {
    display: inline-block;
    float: right;
    margin: 3px 0 10px 8px;
    position: relative;
    z-index: 20;
}
.minisch .comments-link a:after {
    border-bottom: 9px solid transparent;
    border-bottom-right-radius: 20px 8px;
    border-right: 9px solid #555555;
    content: " ";
    display: block;
    left: 5px;
    margin: 0 auto;
    position: relative;
    top: -2.5px;
    transition: all 0.3s ease 0s;
    width: 0;
    z-index: -1;
}
.minisch .comments-link a {
    background-color: #555555;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    display: block;
    font-size: large;
    height: 33px;
    line-height: 1.9;
    min-width: 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.minisch article h1.entry-title {
    font-size: inherit;
    margin: 0 45px 2px 0;
}
.minisch article h1.entry-title a {
    color: #666666;
    font-size: 22px;
    font-weight: bold;
}
.minisch .entry-meta {
    font-size: 15px;
}
.minisch time.entry-date {
    background: linear-gradient(#565C61, #32373C) repeat center top #32373C;
    	background:     -webkit-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    	background:        -moz-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    	background:          -o-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    	background:         -ms-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    background-color: #32373C;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 10px 0 0;
    padding: 0 5px;
}
.minisch time.entry-date a {
    color: #FFFFFF;
}
.minisch .cat-links a:before {
    color: #787878;
    content: "!";
}
.minisch .cat-links a {
    font-weight:bold;
}
.minisch .tag-links a:before {
    content: "#";
    opacity: 0.4;
}

.minisch.nav { text-align:center;}
.minisch.nav nav {
    background: linear-gradient(#565C61, #32373C) repeat scroll center top #32373C;
     background: -webkit-linear-gradient(#565C61, #32373C) repeat center top #32373C;
     background: -moz-linear-gradient(#565C61, #32373C) repeat center top #32373C;
     background: -o-linear-gradient(#565C61, #32373C) repeat center top #32373C;
     background: -ms-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    background-color: #32373c !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    color: #FFFFFF;
    display: inline-block;
    height: auto;
    margin: 12px 0;
    overflow: hidden;
    padding: 0 !important;
    text-align: left;
    vertical-align: top;
}

.minisch.nav nav #searchform {
    display: inline-block;
    float: right;
}

.minisch.nav nav #searchform input#s {
    background-color: transparent;
    background-image: url("/images/minisch/labels.png");
    background-position: 0 -111px;
    background-repeat: no-repeat;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 0 none;
    border-top: 0 none;
    border-bottom: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 !important;
    	-webkit-box-shadow: 0 0 !important;
    	   -moz-box-shadow: 0 0 !important;
    	     -o-box-shadow: 0 0 !important;
    color: #DDDDDD;
    font-size: 15px;
    height: 36px;
    margin: 0;
    padding: 0 10px 0 35px;
    width: 125px;
}
.minisch.nav nav #searchform input#s:focus {
    background-color: rgba(255, 255, 255, 0.2);
}
.minisch.nav nav li.home {
    float: left;
}
.minisch.nav nav a.home span {
    background: url("/images/minisch/labels.png") no-repeat scroll -9px 5px transparent;
    display: inline-block;
    float: left;
    height: 27px;
    margin: 5px 0 0;
    width: 20px;
}
.minisch.nav nav li { list-style: none;     transition: all 100ms ease 0s;
    	-webkit-transition: all 100ms ease 0s;
    	   -moz-transition: all 100ms ease 0s;
    	     -o-transition: all 100ms ease 0s;
    	    -ms-transition: all 100ms ease 0s;}
.minisch.nav nav > li {
    display: inline-block;
}
.minisch nav div { display: inline-block;}

.minisch.nav nav li a {
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    line-height: 36px;
    margin: 0 !important;
    padding: 0 12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
    vertical-align: top;
    transition: all 100ms ease 0s;
    	-webkit-transition: all 100ms ease 0s;
    	   -moz-transition: all 100ms ease 0s;
    	     -o-transition: all 100ms ease 0s;
    	    -ms-transition: all 100ms ease 0s;
}
.minisch nav li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
.minisch nav li a:hover { text-decoration:none;}
.minisch nav li:active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8) inset;
    	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8) inset;
    	   -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8) inset;
    	     -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8) inset;
}

.minisch li ul.sub-menu {
    display: none;
}
.minisch li:hover ul.sub-menu {
    background: linear-gradient(#565C61, #32373C) repeat scroll center top #32373C;
     background: -webkit-linear-gradient(#565C61, #32373C) repeat center top #32373C;
     background: -moz-linear-gradient(#565C61, #32373C) repeat center top #32373C;
     background: -o-linear-gradient(#565C61, #32373C) repeat center top #32373C;
     background: -ms-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    background-color: #32373C;
    border-radius: 0 3px 3px 3px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.2) inset;
    display: block;
    margin: -1px 0 0;
    padding: 0;
    min-width: 120px;
    position: absolute;
    z-index: 1000;
}
.minisch .sub-menu > li {
    display: block;
}

.minisch.nav a.rss span {
    background: url("/images/minisch/labels.png") no-repeat scroll -11px -35px transparent;
    display: inline-block;
    height: 27px;
    margin: 4px 3px 0 0;
    vertical-align: top;
    width: 20px;
}

.minisch.comments li.comment.depth-1 {
    background-color: rgba(100, 100, 100, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 20px;
    padding: 15px 20px 5px;
}
.minisch.comments article.comment {
    margin: 0 0 25px;
    position: relative;
    padding: 0;
    background:transparent;
    box-shadow: 0 0;
}
.minisch.comments article.comment header {
    margin: 0 0 7px;
    font-size: 15px;
}
.minisch.comments article.comment header div {
    display: inline;
}
.minisch.comments article.comment .comment-content {
    background-color: #FFFFFF;
    border-radius: 3px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -2px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #444444;
    display: inline-block;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    padding: 14px 20px;
}

.minisch ul,
.minisch ol {
    list-style: none outside none;
    padding: 0;
}
.minisch.comments article.comment .comment-author cite {
    color: #1C1C1C;
    font-size: large;
    font-style: normal;
    font-weight: bold;
}
.minisch.comments article.comment .comment-meta a {
    color: #444444 !important;
}
.minisch.comments article.comment .comment-content p {
    padding: 0;
    margin: 0;
}

.minisch.comments li.comment ul.children {
    border-left: 4px solid #777777;
    margin: 0 0 0 25px;
    padding: 0 0 0 26px;
}

li.bypostauthor > article.comment .comment-author cite:after {
    background: linear-gradient(#565C61, #32373C) repeat center top #32373C;
    	background:     -webkit-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    	background:        -moz-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    	background:          -o-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    	background:         -ms-linear-gradient(#565C61, #32373C) repeat center top #32373C;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    content: "auteur";
    display: inline-block;
    font-size: 17px;
    line-height: 1.2;
    margin: 0 5px;
    padding: 0 6px;
}
