@import url(fonts/Fira/fira.css);
@import url(fonts/charissil/charissil.css);
@import url(fonts/openiconic/css/open-iconic.css);



body {
    font: 13pt "Fira Sans", sans-serif;
    background: #111;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #3A4145;
}
body:before {
    content: " ";
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/layout/foretdebelouve.jpg) center center / cover #386398;
    z-index: -1;
    opacity: .5;
}
@media screen and (max-width:750px) {
    body {
        font-size:10pt;
    }
}
@media screen and (min-width:751px) and (max-width:1000px) {
    body {
        font-size:12pt;
    }
}
p,
.post ul,
.post ol {
    font-family: "Charis SIL", serif;
    line-height: 1.6;
}
ul {
    list-style: outside square;
}
a {
    color: #376284;
    text-decoration: none;
    transition: all .3s;
}
*:active,*:focus,*:hover {
    outline: 0;
}

hr {
    border-top: 1px solid #d4d4d4;
    height: 4px;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #d4d4d4;
}
hr.small {
    width:100px;
}
aside hr {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.post hr {
    width: 220px;
    margin: 2.2em auto;
}
.dark hr {
    opacity: 0.2;
}


/* Headlines */
h1, h2, h3 {
    font-weight: 200;
    font-variant: small-caps;
    font-weight: 700;
    text-transform: lowercase;
    margin: 0 0 0.5em;
    line-height: 1;
    color: rgba(0, 0, 0, .7);
}
.dark h1,
.dark h2,
.dark h3 {
    color: #fff;
}
h1 {
    font-size: 3em;
    text-align: center;
}
.post h2 {
    font-size: 2em;
    margin: 2em 0;
    text-align: center;
}
.post h3 {
    font-size: 1.8em;
    margin: 1em 0;
}



/* Header */
body > header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    line-height: 3.1em;
    display: flex;
    z-index: 2;
    animation: slidin-bottom 2s 1;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 800;
    font-size: 120%;
}
body > header > div {
    flex: 1 1 50vw;
    padding: 0 4.2em;
}
body > header .left {
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
}
body > header .right {
    color: #aaa;
    font-weight: 500;
    font-size: 1em;
    text-align: right;
    background-color: rgba(245, 245, 245, 0.9);
    transition: all .3s;
}
body.dark > header .right {
    background-color: rgba(34, 34, 34, 0.9);
}
body > header .logo {
    vertical-align: -0.1ex;
    margin-right: 0.5ex;
    width: 1.3ex;
}
body > header span[data-glyph="menu"] {
    margin-top: 0.4ex;
    display: inline-block;
    line-height: 2.8em;
}
body > header a {
    color: #aaa;
    display: inline-block;
    padding: 0 .2em;
    vertical-align: middle;
    cursor: pointer;
}
body > header a:hover {
    color: #333;
}
body.dark > header a:hover {
    color: #fff;
}
body > header a.active {
    color: #444;
}
body.dark > header a.active {
    color: #fff;
}
body > header .oi {
    transform: translateY(2px);
    display: inline-block;
}
body > header nav .pagination {
    flex: 1 1 50px;
}
body > header .sep  {
    font-weight: 200;
    color: #ccc;
    font-size: 1.3em;
    vertical-align: middle;
}
body.dark > header .sep {
    color: #444;
}



body > aside {
    color: #fff;
    height: 100vh;
    width: 50vw;
    text-align: center;
    position: fixed;
    top: 0; left: 0;
}
@media screen and (max-height:599px) and (max-width:1000px) {
    body > aside {
        width: 100vw;
        height: 95vh;
        position: relative;
    }
}
@media screen and (min-height:600px) and (max-width:1000px) {
    body > aside {
        width: 100vw;
        height: 80vh;
        position: relative;
    }
}
body > aside h1 {
    margin: 0;
    font-size: 2em;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
}
body > aside .book-title {
    padding: .5em 3em;
    position: absolute;
    top: 50%; left: 0; right: 0;
    transform: translateY(-50%);
    animation: fadin 1s 1;
    color: #fff;
}
body > aside .book-title small {
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: .9em;
    display: block;
    margin: -.4em 0 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .3);
}
@media screen and (min-width:750px) and (max-width:1000px) {
    body > aside .book-title {
        font-size: 150%;
    }
}
@media screen and (min-width:1001px) {
    body.home > aside .book-title {
        padding: .5em;
        font-size: 130%;
    }
    body > aside h1 {
        font-size: 2.6em;
    }
}
body > aside nav {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: slidin-top 2s 1;
}
@media screen and (max-width: 1000px) {
    body > aside nav {
        background-color: transparent;
    }
}
body > aside nav a {
    line-height: 3.1em;
    padding: 0;
    font-size: 1em;
    font-weight: 500;
    font-variant: small-caps;
    text-transform: lowercase;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    flex: 1 1 150px;
}
@media screen and (max-width: 1000px) {
    body > aside nav a {
        font-size: 1.3em;
    }
}
body > aside nav a span:not(.oi) {
    opacity: 0.45;
    font-variant: normal;
    font-size: .8em;
}
body > aside nav a .oi {
    vertical-align: -0.1ex;
}
body > aside nav a:hover {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
}
body > aside nav a:active {
    outline: 0;
}
body > aside > header {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 11.14%;
    height: 3.1em;
    line-height: 3.1em;
    animation: slidin-bottom 2s 1;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #fff;
    font-weight: 800;
    font-size: 120%;
    text-align: left;
}



/* Pages */
body > section {
    background: #fff;
    width: 50vw;
    min-height: 100vh;
    margin: 0 0 15px 50vw;
    font-size: 120%;
    overflow: hidden;
    position: relative;
    transition: background-color .3s,
        color .3s;
}
body.dark > section {
    color: #bbb;
    background-color: #121212;
}
body > section:last-of-type {
    margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
    body > section {
        width: 95vw;
        margin: 0 2.5vw 50px;
        min-height: auto;
    }
}
@media screen and (min-width:1001px) {
    body > section:not(:target) {
        animation: slidin-left 1s 1;
    }
}
body > section > * {
    max-width: 1000px;
    margin: auto;
    padding: 9em 11.14% 6em;
}


/* Index of posts */
ul.index {
    list-style: none;
    padding: 0;
}
.index li {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.dark .index li {
    border-color: rgba(255, 255, 255, 0.05);
}
.index li:last-child {
    border-bottom: none;
}
.index h2 {
    margin: 0;
    color: #c5c5c5;
    transition: all .5s;
    font-weight: 500;
}
.dark .index h2 {
    color: rgba(197, 197, 197, 0.6);
}
.index a:hover h2 {
    color: #333;
}
.dark .index a:hover h2 {
    color: #fff;
}
.index time {
    font-size: 1.3rem;
    line-height: 1;
    font-family: "Charis SIL", serif;
    font-style: italic;
    color: #c5c5c5;
}
.dark .index time {
    color: rgba(197, 197, 197, 0.6);
}
.catbloc {
    padding: 1em 11.14%;
}
.catbloc:first-of-type {
    padding-top: 6em;
}
.catbloc:last-of-type {
    padding-bottom: 6em;
}



/* Post content */
.post {
    color: #4D4D4D;
}
body.dark .post {
    color: #bbb;
}
img,
iframe {
    max-width:100%;
}
.post a {
    color: #000;
    text-decoration: underline;
}
body.dark .post a {
    color: #fff;
}
.post p {
    margin: 0 0 1.4em;
}
.post a img {
    border: 0 none;
}
.post img {
    border-radius: 3px;
}
.align,
.align.center {
    display: block;
    margin: 0 auto;
}
.align.center {
    margin: 0 auto;
}
.align.inline {
    display: inline-block;
    margin: 0 -5px 0 0;
}
@media screen and (min-width:700px) {
    .align.right {
        float: right;
        margin: 10px 0 10px 30px;
    }
    .align.left {
        float: left;
        margin: 10px 30px 10px 0;
    }
}
pre {
    overflow: hidden;
}
pre:hover {
    overflow: auto;
}
pre, code {
    background-color: #242424;
    color: #FFF;
    border-radius: 3px;
    font-size: 80%;
    padding: 1em;
    font-family: "Fira Mono",monospace;
}
em em {
    font-style: normal;
}
code {
    background-color: #CCC;
    color: #222;
    padding: 0 .7em;
    font-size: 90%;
    display: inline-block;
}
pre code {
   background-color: #242424;
   color: #fff;
   padding: 0;
}
.lineno {
    opacity: 0.2;
    pointer-events: none;
}
blockquote {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    font-size: 130%;
}

select.custom {
    margin: 0 auto;
    padding: 0.3em 2.9em 0.1em 0.9em;
    appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Fira Sans", "Droid Sans", "Open Sans", Verdana, arial, sans-serif;
    letter-spacing: 1px;
    background: url(/images/design/iconic/caret-bottom-2x.png) no-repeat right center transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 3px;
    box-shadow: none;
    transition: all .2s;
      -webkit-transition: all .2s;
    cursor: pointer;
    position: relative;
    display: block;
}
select.custom.light {
    background-color: #95a5a6;
}
select.custom.dark {
    background-color: rgba(16, 24, 47, 0.45);
}
select.custom.nolabel {
    background-image: none;
    padding-right: .9em;
}
select.custom > option {
    background-color: #fafafa;
    color: rgba(0, 0, 0, .8);
    border: 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
}
select.custom:hover {
    background-color: #222;
}
select.custom:active {
    background-color: #111;
}
select.custom > option:first-child {
    display: none;
}



@keyframes bg-scroll {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes slidin-left {
    from {
        transform: translate(50%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes slidin-right {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes slidin-top {
    0% {
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes slidin-bottom {
    0% {
        transform: translate(0, -100%);
    }
    50% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes fadin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
