/*
 * Schoewilliam.fr CSS Style
 * https://github.com/schoewilliam/schoewilliam.fr
 * William Dorffer [:schoewilliam]
 * MIT License
 */


/*
 * SUMMARY:
 *
 * 0. Imports
 * 1. Body and General declarations
 * 2. Seperators: <hr>
 * 3. Headlines: <hn>
 * 4. Header: body > header
 * 5. Site Cover: body > aside
 * 6. Main Navigation: #nav
 * 7. Pages: body > section
 * 8. Index of posts
 * 9. Post Content
 * 10. Animations
 */



/*
 * 0. Imports
 * ----------
 */

@import url(fonts/Fira/fira.css);
@import url(fonts/charissil/charissil.css);
@import url(fonts/octicons/octicons.css);
@import url(fonts/voltaire/voltaire.css);
@import url(syntax.css);



/*
 * 1. Body and General declarations
 * --------------------------------
 */

body {
    font: 13pt "Voltaire", "PT Serif", sans-serif;
    background: #111;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #515151;
}
body:before {
    content: " ";
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/layout/photos/Foxyplusch.jpg) center center / cover #222;
    z-index: -1;
    opacity: .8;
}
@media screen and (max-width:800px) {
    body {
        font-size: 11pt;
    }
}
p,
.post {
    line-height: 1.6;
}
ul {
    list-style: outside square;
}
a {
    color: #FF8D70;
    text-decoration: none;
    -webkit-transition: all .3s;
            transition: all .3s;
}
*:active,*:focus,*:hover {
    outline: 0;
}



/*
 * 2. Seperators: <hr>
 * -------------------
 */

hr {
    border-top: 1px solid #d4d4d4;
    height: 4px;
    width:100px;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #d4d4d4;
}
aside hr {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.dark hr {
    opacity: 0.2;
}
hr.large {
    width: 100%;
    margin: 2em 0 1.5em;
}
hr.title {
    padding: 3em 0px;
    border-top: 0;
}
hr.title:first-child {
    padding-top: 0;
    margin-top: 0;
}



/*
 * 3. Headlines: <hn>
 * ------------------
 */

h1, h2, h3, h4 {
    font-family: "Voltaire", "Roboto Condensed", "Fira Sans", "Cantarell", sans-serif;
}
h1, h2, h3 {
    font-weight: 200;
    font-weight: 700;
    line-height: 1;
    color: rgba(0, 0, 0, .7);
}
.dark h1,
.dark h2,
.dark h3 {
    color: #fff;
}
h1 {
    font-size: 2.8em;
    text-align: center;
}
div.post h1 {
    padding: 1em 0;
    margin: 0;
}
div.post h1:first-child {
    padding: 0 0 .5em;
}
.post h2 {
    font-size: 2em;
    margin: 2em 0;
    text-align: center;
}
.post h3 {
    font-size: 1.8em;
    margin: 1.5em 0 1em;
}
h3 em {
    font-style: normal;
    opacity: .3;
}
hr.title + h1 {
    margin: -1.8em 0 0 !important;
    padding: 0 !important;
    font-size: 1.2em;
    color: #D4D4D4;
    text-shadow:
        3px 0 #fff,
        -2px 0 #fff,
        7px 0 #fff,
        -4px 0 #fff;
    text-transform: uppercase;
    letter-spacing: -.05em;
}
.dark hr.title + h1 {
    text-shadow:
        3px 0 #121212,
        -2px 0 #121212,
        7px 0 #121212,
        -4px 0 #121212;
}

/*
 * 4. Header: body > header
 * ------------------------
 */

body > header {
    font-family: "Voltaire", "Roboto Condensed", "Fira Sans", sans-serif;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 62px;
    line-height: 62px;
    z-index: 2;
    -webkit-animation: slidin-bottom 2s 1;
            animation: slidin-bottom 2s 1;
    text-transform: uppercase;
    font-size: 120%;
}
body > header > div { /* inner container */
    padding: 0 5.5%;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    float: left;
    word-spacing: normal;
    vertical-align: top;
}
body > header .left { /* left section */
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
}
body > header .right { /* right section */
    color: #aaa;
    font-weight: 500;
    font-size: 1em;
    text-align: right;
    max-width: 750px;
    background-color: rgba(245, 245, 245, 0.9);
    -webkit-transition: all .3s;
            transition: all .3s;
}
body > header a {
    display: inline-block;
    padding: 0 .2em;
    cursor: pointer;
}
body > header .right a {
    color: #aaa;
}
body > header .right a:hover,
body > header a.active {
    color: #333;
}
body > header .left  a,
body > header .left  a:hover,
body.dark > header .right a:hover,
body.dark > header a.active {
    color: #fff;
}
body > header .small-site-title {
    font-weight: 700;
}
body > header .menu {
    color: #fff;
    float: right;
}
body > header .menu.shown {
    -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
            transform: scale(.75);
    opacity: .8;
}
@media screen and (max-width:1000px) {
    body > header {
        text-align: left;
        padding: 0 11.14%;
        box-sizing: border-box;
        position: absolute;
    }
    body > header > div {
        background: none !important;
        display: inline;
        padding: 0;
    }
    body > header .right {
        float: right;
        margin-top: -2px;
    }
    body > header .menu {
        float: none;
    }
    body > header a:hover {
        color: #fff;
    }
    body > header a.active {
        color: #fff;
    }
    body > header .small-site-title {
        position: absolute;
        margin-left: 5px;
        margin-top: -2px;
    }
}
@media screen and (min-width:1001px) {
    body.dark > header .right {
        background-color: rgba(15, 15, 15, 0.9);
    }
}



/*
 * 5. Site Cover: body > aside
 * ---------------------------
 */

body > aside {
    font-family: "Voltaire", "Roboto Condensed", "Fira Sans", sans-serif;
    color: #fff;
    text-transform: uppercase;
    height: 100vh;
    width: 50%;
    text-align: center;
    position: fixed;
    top: 0; left: 0;
    -webkit-transition: all .3s;
            transition: all .3s;
}
@media screen and (max-width:1000px) {
    body > aside {
        width: 100%;
        height: 95vh;
        position: relative;
    }
}
body > aside h1 {
    color: #fff;
    margin: 0;
    font-size: 2em;
    vertical-align: middle;
    font-weight: 700;
}
body.home > aside h1 {
    font-size: 2.7em;
}
body > aside .book-title {
    padding: .5em 11.14%;
    position: absolute;
    top: 50%; left: 0; right: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-animation: fadin 1s 1;
            animation: fadin 1s 1;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.nav-shown .book-title {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate(0, -50%) scale(0.7);
        -ms-transform: translate(0, -50%) scale(0.7);
            transform: translate(0, -50%) scale(0.7);
}
body > aside .book-title small {
    font-size: 1.1em;
    line-height: 1;
    display: block;
    margin: .2em;
    text-align: center;
    letter-spacing: .2em;
    color: rgba(255, 255, 255, .3);
}
@media screen and (min-width:1001px) {
    body.home > aside .book-title {
        padding: .5em;
    }
    body > aside h1 {
        font-size: 2.6em;
    }
}
@media screen and (min-width:1201px) {
    body.home > aside .book-title {
        font-size: 120%;
    }
}
#prevnext {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    height: 62px;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 62px;
    padding: 0 11%;
    box-sizing: border-box;
    display:  -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;
    -webkit-animation: slidin-top 2s 1;
            animation: slidin-top 2s 1;
}
#prevnext a {
    padding: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100px;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
}
#prevnext a:hover {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
}
#prevnext a:active {
    outline: 0;
}
#prevnext .prev {
    text-align: left;
}
#prevnext .next {
    text-align: right;
}
#prevnext .thispage {
    position: absolute;
    line-height: 30px;
    top: -30px;
    left: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.2em;
    font-size: 80%;
    -webkit-animation: fadin 2s 1;
            animation: fadin 2s 1;
}



/*
 * 6. Main Navigation: #nav
 * ------------------------
 */

.nav-shown {
    background-color: rgba(0, 0, 0, 0.6);
}
#nav {
    font-family: "Voltaire", "Roboto Condensed", "Fira Sans", sans-serif;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.7);
        -ms-transform: translate(-50%, -50%) scale(1.7);
            transform: translate(-50%, -50%) scale(1.7);
    -webkit-transition: all .3s;
            transition: all .3s;
}
.nav-shown #nav {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
}
#nav a {
    font-size: 1.6em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    display: block;
}
#nav a:hover {
    color: rgba(255, 255, 255, .5);
}



/*
 * 7. Pages: body > section
 * ------------------------
 */

body > section {
    background: url(/images/layout/noise.png) repeat #fff;
    width: 50%;
    max-width: 750px;
    min-height: 100vh;
    margin: 0 0 15px 50%;
    font-size: 120%;
    overflow: hidden;
    position: relative;
}
body.dark > section {
    color: #888;
    background-color: #121212;
}
body > section:last-of-type {
    margin-bottom: 0;
}
body > section > * {
    max-width: 1000px;
    margin: auto;
    padding: 9em 11.14% 6em;
}
@media screen and (max-width: 1000px) {
    body > section {
        width: 100%;
        max-width: 900px;
        margin: 0 auto 50px;
        min-height: auto;
    }
    body > section > * {
        padding: 6em 11.14%;
    }
    .scroll-down  {
        position: absolute;
        bottom: 0.3em;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        opacity: 0.5;
    }
}
@media screen and (min-width:1001px) {
    body > section:not(:target) {
        -webkit-animation: slidin-left 1s 1;
                animation: slidin-left 1s 1;
    }
    .scroll-down {
        display: none;
    }
}



/*
 * 8. Index of posts
 * -----------------
 */

ul.index {
    list-style: none;
    padding: 0;
}
.index li {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.dark .index li {
    border-color: rgba(255, 255, 255, 0.05);
}
.index li:last-child {
    border-bottom: none;
}
.index h2 {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-weight: normal;
    -webkit-transition: all .5s;
            transition: all .5s;
}
.dark .index h2 {
    color: rgba(197, 197, 197, 0.6);
}
.index a:hover h2 {
    color: #333;
}
.dark .index a:hover h2 {
    color: #fff;
}
.index h2.more {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}
.index time {
    font-size: 1.3rem;
    color: #d4d4d4;
}
.dark .index time {
    color: rgba(255, 255, 255, 0.2);
}
.catbloc {
    padding: 1em 11.14%;
}
.catbloc:first-of-type {
    padding-top: 6em;
}
.catbloc:last-of-type {
    padding-bottom: 6em;
}
.selcatbloc {
    padding: 6em 11.14% 1em;
    text-align: center;
}
select.custom {
    margin: 0;
    padding: .5em 2.9em .5em .9em;
         -moz-appearance: none;
      -webkit-appearance: none;
          -ms-appearance: none;
              appearance: none;
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Voltaire","Roboto Condensed","Fira Sans","Cantarell",sans-serif;
    letter-spacing: 1px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    color: #333;
    border-radius: 3px;
    -webkit-transition: all .2s;
            transition: all .2s;
    cursor: pointer;
    position: relative;
}
.right select.custom {
    float: left;
    top: .9em;
}
@media screen and (max-width:1000px) {
    .right select.custom {
        display: none;
    }
}
.dark select.custom {
    background-color: #111;
    border-color: #333;
    color: #aaa;
}
select.custom > option {
    background-color: #fafafa;
    color: rgba(0, 0, 0, .8);
    border: 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
}
select.custom:hover {
    border-color: #888;
}
.dark select.custom:hover {
    border-color: #aaa;
    color: #fff;
}
select.custom:active {
    background-color: #fff;
}
.dark select.custom:active {
    background-color: #111;
}
select.custom > option:first-child {
    display: none;
}

/*
 * 9. Post Content
 * ---------------
 */

body.dark .post {
    color: #bbb;
}
.post {
    color: #4D4D4D;
}
img,
iframe {
    max-width:100%;
}
.post time {
    color: #ccc;
    font-size: 90%;
    display: block;
}
.dark .post time {
    color: #555;
}
.post p a {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.dark .post p a {
    border-color: rgba(255, 255, 255, 0.2);
}
.post a:hover {
    border-color: #111;
    text-decoration: none;
}
.dark .post a:hover {
    border-color: #fff;
}
.post a img {
    border: 0;
}
.post img {
    border-radius: 3px;
}
.align,
.align.center {
    display: block;
    margin: 0 auto;
}
.align.center {
    margin: 0 auto;
}
.align.inline {
    display: inline-block;
    margin: 0 -5px 0 0;
}
.post .avatar {
    width: 9rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1.2rem;
}
@media screen and (min-width:700px) {
    .align.right {
        float: right;
        margin: 10px 0 10px 30px;
    }
    .align.left {
        float: left;
        margin: 10px 30px 10px 0;
    }
    .post .avatar {
        float: right;
        margin-left: 2rem;
        margin-bottom: 0;
    }
}
em em {
    font-style: normal;
}
pre, code {
    font-family: "Fira Mono", monospace;
}
pre {
    overflow: hidden;
}
pre:hover {
    overflow: auto;
}
pre {
    background-color: #242424;
    color: #FFF;
    border-radius: 3px;
    font-size: 80%;
    padding: 1em;
}
code {
    padding: 0 .7em;
    font-size: 90%;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(34, 34, 34);
    color: #fff;
}
pre code {
   background-color: #242424;
   color: #fff;
   padding: 0;
}
.lineno {
    opacity: 0.2;
    pointer-events: none;
}
blockquote {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    font-size: 130%;
}
.thumbnail-ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.thumbnail {
    display: inline-block;
    width: 48%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 48%;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
    height: 145px;
    background-color: #444;
    margin: .2rem;
    padding: 0;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
            transition: all .3s;
    cursor: pointer;
}
.thumbnail img {
    position: absolute;
    top: 0; left: 0;
    border-radius: 0;
    opacity: .7;
    min-height: 100%;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.thumbnail:not(.align):hover img {
    opacity: .3;
}
.thumbnail p {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4),
        0 2px 1px rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: .5em;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: all .3s;
            transition: all .3s;
}
.thumbnail p small {
    opacity: 0;
}
.thumbnail:hover p {
    bottom: 50%;
    opacity: 1;
}
.thumbnail:hover p small {
    opacity: 1;
}
.thumbnail strong {
    display: block;
    line-height: 1;
}
.thumbnail.align {
    width: 245px;
}
.thumbnail.align img {
    opacity: .9;
}
@media screen and (max-width: 699px) {
    .thumbnail.align {
        display: none
    }
}

/*
 * 10. Animations
 * --------------
 */

@keyframes slidin-left {
    from {
        -webkit-transform: translate(50%, 0);
                transform: translate(50%, 0);
    }
    to {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}
@-webkit-keyframes slidin-left {
    from {
        -webkit-transform: translate(50%, 0);
    }
    to {
        -webkit-transform: translate(0, 0);
    }
}
@keyframes slidin-right {
    from {
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
    }
    to {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}
@-webkit-keyframes slidin-right {
    from {
        -webkit-transform: translate(-50%, 0);
    }
    to {
        -webkit-transform: translate(0, 0);
    }
}
@keyframes slidin-top {
    0% {
        -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
    }
    50% {
        -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
    }
    100% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}
@-webkit-keyframes slidin-top {
    0% {
        -webkit-transform: translate(0, 100%);
    }
    50% {
        -webkit-transform: translate(0, 100%);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}
@keyframes slidin-bottom {
    0% {
        -webkit-transform: translate(0, -100%);
                transform: translate(0, -100%);
    }
    50% {
        -webkit-transform: translate(0, -100%);
                transform: translate(0, -100%);
    }
    100% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}
@-webkit-keyframes slidin-bottom {
    0% {
        -webkit-transform: translate(0, -100%);
    }
    50% {
        -webkit-transform: translate(0, -100%);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}
@keyframes fadin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
