body {
    font: 11pt/1.5 "Feura Sans", Cantarell, sans-serif;
    margin: 0;
    background-color: #2F2965;
	animation: 200s infinite colorful;
	-webkit-animation: 200s infinite colorful;
}
@media screen and (min-width:750px) {
	body {
		font-size: 13pt;
	}
}
a { text-decoration: none; color: #4E43C8; }
article a { font-weight: bold; color: #4E43C8;}
p a:hover { text-decoration: underline; }

pre, code {
    background-color: #333;
    color: #eee;
    border-radius: 2px;
}

code {
    padding: 0 5px;
    font-size: 90%;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens:  none;
    -o-hyphens: none;
    -ms-hyphens: none;
}

pre code {
    box-shadow: 0 0;
    padding: 0;
}

hr {
    border: 1px solid #DEDEDC;
    display: block;
    margin: 20px auto;
    width: 20%;
}
#post hr {
    margin: 50px auto;
}

h1, h2, h3 {
    font-family: "Feura Sans", Cantarell, sans-serif;
    font-weight: normal;
}

blockquote {
    font-family: Georgia,"Bookman Old Style",Bookman,"New Century Schoolbook","Bookman Antiqua",Palatino,"Utopia","New York","Times New Roman",Times,serif;
}

.label {
    font-size: 80%;
    padding: 2px 8px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
}

section.index {
    margin: 0 auto;
    text-align: center;
}
section.index.home {
	animation: 3s fondu;
	-webkit-animation: 3s fondu;
}
section.index figure h1 {
    font-weight: normal;
    vertical-align: middle;
    color: #fff;
    font-size: 220%;
    opacity: 1;
}
section.index.post {
    margin-top: 30px;
}
section.index.post figure h1 {
    font-size: 210%;
}
#cassiopeia {
    margin: 20px 0 0;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 0;
    vertical-align: middle;
    width: 60px;
}
@media screen and (max-width:449px) {
	section.index figure h1 {
		margin: 10px 0 20px;
	}
}
@media screen and (min-width:450px) {
	section.index figure h1 {
		display: inline-block;
	}
	section.index #cassiopeia {
		margin: 0 20px 0 0;
	}
}
@media screen and (min-width:750px) {
	section.index figure h1 {
	        transition: all .3s;
	        -webkit-transition: all .3s;
	}
	.index #cassiopeia {
		transition: all .3s;
		-webkit-transition: all .3s;
		width: 70px;
	}
}
section.index figure h1 small {
    display: block;
    font-size: 40%;
    text-align: left;
    color: rgb(153, 153, 153);
}

section.index figure.emb {
    padding: 0;
    display: inline-block;
}
@media screen and (min-height:300px) {
	section.index figure.emb,
	section.index.post figure.emb {
		margin-top: 25px;
	}
}
@media screen and (min-height:520px) {
	section.index figure.emb {
		margin-top: 100px;
	}
}
@media screen and (min-height:600px) {
	section.index figure.emb {
		margin-top: 200px;
	}
}
@media screen and (min-width:750px) {
	section.index figure.emb {	
	        transition: all 1.5s;
	        -webkit-transition: all 1.5s;
	}
}
section.index nav a {
	color: rgba(255, 255, 255, 0.45);
	margin: 0 4px;
	font-size: 110%;
	transition: all .2s;
	-webkit-transition: all .2s;
}
section.index nav a:hover {
	color: #fff;
}

section.index #archives,
section.index #apropos,
section.index #projets {
	display: none;
}

section.index #archives,
section.index #apropos {
    padding: 20px;
    background-color: #fff;
    margin: auto;
    position: relative;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
section.index #archives {
	padding-bottom: 50px;
}
section.index #apropos,
section.index #projets {
	max-width: 850px;
	text-align: left;
	color: #444;
	margin: 0 auto;
}
section.index #apropos h2,
section.index #apropos h3 {
	color: #222;
	margin: 0;
}
section.index #archives > div {
    max-width: 850px;
    margin: 0 auto;
}
section.index #archives h2 {
    margin: 0px 0px 20px;
    color: rgb(34, 34, 34);
    font-weight: normal;
    font-size: 160%;
}
section.index #archives p {
	font-style: italic;
	color: #aaa;
	padding: 20px;
	text-align: left;
}
section.index #archives a.rss {
	display: inline-block;
	background-color: #D56C3B;
	border-radius: 2px;
	padding: 0 8px;
	color: #fff;
	font-size: 60%;
}
section.index #archives div ul {
	margin: 0;
	padding: 0;
}
section.index #archives div li {
	list-style: none;
	margin: 0;
	padding: 0;
}
section.index #archives div li > a {
	display: block;
	color: #333;
	font-weight: bold;
	padding: 10px 20px;
	border: 0;
	box-shadow: 0 0;
	text-align: left;
	font-size: 110%;
}
section.index #archives div li > a.serif {
	font-style: italic;
}
section.index #archives div li > a:hover {
	background-color: #eee;
	border-radius: 3px;
	box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}
section.index #archives a time {
	color: #bbb;
	display: block;
	font-size: 80%;
	font-weight: normal;
}
@media screen and (min-width:450px) {
	section.index #archives {
		padding: 20px 30px;
	}
	section.index #archives a time {
		float: right;
		display: inline;
	}
}

#carnet:target .lien.carnet,
#moi:target .lien.apropos,
#realisations:target .lien.real {
	font-weight: bold;
	color: #fff;
}
#carnet:target #archives,
#moi:target #apropos,
#moi:target #prairial,
#realisations:target #projets {
	display: block;
	animation: 2s fondu;
	-webkit-animation: 2s fondu;
}
#carnet:target figure.emb,
#realisations:target figure.emb {
	margin-top: 30px;
}
@media screen and (min-width:920px) {
	#carnet:target figure.emb {
		margin-top: 70px;
	}
}
#moi:target figure.emb {
	margin-top: -40px;
}
@media screen and (min-width:920px) {
	#moi:target figure.emb,
	#realisations:target figure.emb {
		margin-top: 70px;
	}
}
@media screen and (min-width:450px) and (max-width:1049px) {
	#moi:target figure.emb nav {
		padding-left: 120px;
	}
}

#moi:target #cassiopeia {
	width: 80px;
	transform: translate(0,55px);
	-webkit-transform: translate(0,55px);
	-moz-transform: translate(0,55px);
}
@media screen and (min-width:450px) {
    #moi:target #cassiopeia {    
    	transform: translate(-60px,55px);
    	-webkit-transform: translate(-60px,55px);
    	-moz-transform: translate(-60px,55px);
    }
}
@media screen and (min-width:750px) {
	#moi:target #cassiopeia {
		width: 90px;
		margin-top: 20px;
	}
}
@media screen and (min-width:1050px) {
	#moi:target #cassiopeia {
		width: 120px;
		margin-top: 0;
		transform: translate(-330px,55px);
		-webkit-transform: translate(-330px,55px);
		-moz-transform: translate(-330px,55px);
	}
}
#moi:target figure h1 {
	opacity: 0;
}

#realisations:target #projets {
    background-color: #FFFFFF;
    max-width: 100%;
    margin: 0 auto;
    padding: 1px 0;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}
#projets > div {
    margin: 0 auto;
    max-width: 850px;
}
#projets section {
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 3px;
    margin: 10px auto;
}
#projets section h3 {
    margin: 0;
    display: inline;
    font-size: 190%;
    font-weight: bold;
}
#projets section img {
    width: 90px;
    height: 90px;
    float: left;
    margin: 5px 20px 5px 0;
    border-radius: 50%;
}
#projets section p {
    margin: 0;
}
#projets section aside {
    clear: both;
    margin: 10px 0 0;
}
@media screen and (min-width:620px) {
	#projets section aside {
	    margin-left: 110px;
	}
}
#projets section a {
    font-weight: bold;
}

#prairial {
    color: #FFFFFF;
    display: none;
    font-style: italic;
    margin: 30px 0;
    text-shadow: 0 0 20px #FFFFFF, 0 1px rgba(0, 0, 0, 0.3);
}

/* fin header */



/* footer */

body > footer {
    max-width: 800px;
    margin: 60px auto 0;
    padding: 0 10px 20px;
    text-align:center;
    color: #ccc;
}
@media screen and (min-width:830px) {
    body > footer {
	padding: 0 0 20px;
    }
}
body > footer div {
    font-size: 11pt;
}
body > footer div a {
    color: rgba(255, 255, 255, 0.7);
    margin-right:5px;
}
body > footer div a:hover {
    color: #fff;
    text-decoration: underline;
}
body > footer div div {
    margin: 0;
}
/* fin footer */


/* article */


section.article {
    background-color: #fff;
    padding: 30px 0;
}
section.comments {
    background-color: #eee;
    text-align: center;
    padding: 30px 0;
}
article,
div#comments {
    margin: 0 auto;
    max-width: 750px;
    padding: 0 25px;
}

time.top {
    display: block;
    text-align: center;
    font-size: 90%;
    color: #bbb;
    max-width: 200px;
    margin: 0 auto;
}
.serif time.top {
    color: #888;
}

article h1 {
    color: #333332;
    font-size: 220%;
    margin: 0 5px 35px 0;
    font-weight: bold;
    font-family: "Feura Sans","Lucida Sans",Geneva,Verdana,sans-serif
}
.serif article h1 {
     font-style: italic;
}
.serif.centered article h1,
.serif.centered #post {
     text-align: center;
}
article h1 a:hover {
    text-decoration:underline;
}
article h2 {
    font-size: 170%;
}
article h3 {
    font-size: 150%;
}
article h2,
article h3 {
    font-weight: normal;
}
@media screen and (max-width:749px) {
	article h1 {
		hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens:  auto;
		-o-hyphens: auto;
		-ms-hyphens: auto;
	}
}
@media screen and (min-width:750px) {
    article h1 {
        font-size: 300%;
    }
    article h2 {
        font-size: 190%;
    }
    article h3 {
        font-size: 170%;
    }
}

pre:hover {
    overflow-x: auto;
}

pre {
    overflow-x: hidden;
    padding: 10px;
}

#post {
    color: #333332;
    font-size: 120%;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens:  auto;
    -o-hyphens: auto;
    -ms-hyphens: auto;
}
.serif #post {
    font-size: 135%;
}
.serif.centered #post {
    text-align: center;
}
@media screen and (min-width:750px) {
	#post {
		font-size: 125%;
		line-height: 1.6;
	}
}
article #post img,
article #post iframe {
    max-width:100%;
}

#post a img {
    border: 0 none;
}
.align,
.align.center {
    display: block;
    margin: 0 auto;
}
.align.center {
    margin: 0 auto;
}

@media screen and (min-width:700px) {
    .align.right {
        float: right;
        margin: 10px 0 10px 10px;
    }
    .align.left {
        float: left;
        margin: 10px 10px 10px 0;
    }
}

ul {
    list-style: outside square;
}

a.bouton {
    background-color: #2E3740;
    border-bottom: 0 !important;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    padding: 3px 10px;
    margin: 0 0 5px;
    display: inline-block;
    text-indent: 0;
    text-decoration: none;
    border-radius: 3px;
    
}
a.bouton:hover {
    text-decoration: underline;
}
blockquote p:last-child:after {
    content: "»";
    font-style: normal;
    margin-left: 10px;
}
blockquote p:first-child:before {
    content: "«";
    font-style: normal;
    margin-right: 10px;
}
blockquote {
    font-style: italic;
}

/* commentaires */

.comments_header {
    margin: 0;
    font-family: "Feura Sans", Cantarell, sans-serif;
}
.comments_header a {
    font-size: 200%;
    color: #525252;
}

.comment {
    color: #727272;
    margin: 0 0 30px;
}
.comment:last-child {
    padding-bottom: 25px;
}

.comment_user {
    display: block;
    font-weight: bold;
    text-align: right;
}

.comment_message {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #333333;
    display: block;
    line-height: 1.6;
    padding: 10px 15px;
    text-align: left;
}

.comment_addcomment {
    background-color: #555555;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    color: #EEEEEE;
    display: inline-block;
    font-size: 110%;
    margin: 0;
    padding: 5px 20px;
    text-decoration: none;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.comment_addcomment:hover {
    background-color: #343434;
}

.comment_form {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #444444;
    margin: 0;
    padding: 20px;
}

.comment_inputuser {
    margin: 0 0 10px;
    color: #323232;
    font-style: italic;
}

.comment_inputuser > input {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 4px 10px;
    margin-left: 10px;
}

.comment_inputmessage {
    color: #333333;
    display: block;
    line-height: 1.6;
}

.comment_inputmessage > textarea {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-family: "Feura Sans",Cantarell,sans-serif;
    font-size: 100%;
    padding: 10px;
    width: 97.2%;
}

.comment_recaptcha {
    color: #333333;
    display: block;
    line-height: 1.6;
    margin-top: 20px;
}

.comment_recaptcha > input {
    background-color: #FFFFFF;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    font-family: "Feura Sans",Cantarell,sans-serif;
    font-size: 100%;
    height: 30px;
    padding: 10px;
    vertical-align: top;
    width: 150px;
    margin-right: 5px;
}
.comment_recaptcha img {
    border-radius: 2px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.comment_submit {
    margin-top: 20px;
}

.comment_submit > input {
    background-color: #555555;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 90%;
    margin: -3px auto 0;
    padding: 2px 8px;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.comment_submit > input:hover {
    background-color: #222;
}

/* Fin commentaires */

/* animations */

@keyframes fondu {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fondu {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes colorful {
    0% { background-color: #2F2965; }
    20% { background-color: #652945; }
    40% { background-color: #3F6529; }
    60% { background-color: #296557; }
    80% { background-color: #294265; }
    100% { background-color: #382965; }
}
@-webkit-keyframes colorful {
    0% { background-color: #2F2965; }
    20% { background-color: #652945; }
    40% { background-color: #3F6529; }
    60% { background-color: #296557; }
    80% { background-color: #294265; }
    100% { background-color: #382965; }
}

/* polices */

@font-face {
    font-family: 'Feura Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/feurasans/FeuraSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Feura Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/feurasans/FeuraSans-Bold.ttf) format('truetype');
}
