@import url(fonts/Fira/fira.css);
@import url(fonts/charissil/charissil.css);
@import url(fonts/openiconic/css/open-iconic.css);



body {
    font: 13pt "Fira Sans", sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #3A4145;
}
body:before {
    content: " ";
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 300%;
    background: url(../images/layout/panom.jpg) bottom center / cover #386398;
    z-index: -1;
    transition: opacity .5s;
}
@media screen and (max-width:1000px) {
    body {
        font-size:10pt;
    }
}
@media screen and (min-width:1001px) {
    body:before {
        animation: bg-scroll 300s linear infinite;
    }
}
p,
.post ul,
.post ol {
    font-family: "Charis SIL", serif;
    line-height: 1.6;
}
ul {
    list-style: outside square;
}
a {
    color: #376284;
    text-decoration: none;
    transition: all .3s;
}
*:active,*:focus,*:hover {
    outline: 0;
}

hr {
    border-top: 1px solid #d4d4d4;
    height: 4px;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #d4d4d4;
}
hr.small {
    width:100px;
}
header hr {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.post hr {
    width: 220px;
    margin: 2.2em auto;
}
.dark hr {
    opacity: 0.2;
}


/* Headlines */
h1, h2, h3 {
    font-weight: 200;
    font-variant: small-caps;
    font-weight: 700;
    text-transform: lowercase;
    margin: 0 0 0.5em;
    line-height: 1;
    color: rgba(0, 0, 0, .7);
}
.dark h1,
.dark h2,
.dark h3 {
    color: #fff;
}
h1 {
    font-size: 3em;
    text-align: center;
}
.post h2 {
    font-size: 2em;
    margin: 2em 0;
    text-align: center;
}
.post h3 {
    font-size: 1.8em;
    margin: 1em 0;
}



/* Header */
body > header {
    color: #fff;
    height: 100vh;
    width: 45vw;
    text-align: center;
    position: fixed;
    top: 0; left: 0;
}
@media screen and (max-width: 1000px) {
    body > header {
        width: 100vw;
        height: auto;
        position: relative;
        background: url(../images/layout/panom.jpg) bottom center / cover #386398;
    }
}
body > header .book-title {
    padding: .5em 11.14%;
    position: absolute;
    top: 50%; left: 0; right: 0;
    transform: translateY(-50%);
    animation: fadin 1s 1;
    color: #fff;
}
body > header h1 {
    margin: 0;
    font-size: 2em;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
}
@media screen and (max-width:1000px) {
    body > header .book-title {
        position: static;
        transform: translate(0);
        margin: 2em 0 0;
    }
}
@media screen and (min-width:1001px) {
    body.home > header .book-title {
        padding: .5em;
        font-size: 130%;
    }
    body > header h1 {
        font-size: 2.6em;
    }
}
header .serif {
    font-family: "Charis SIL", serif;
    text-transform: none;
    font-variant: normal;
    font-style: italic;
    font-weight: normal;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.66);
    line-height: 1.5;
    display: block;
}
body > header nav {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: slidin-top 2s 1;
}
@media screen and (max-width: 1000px) {
    body > header nav {
        background-color: transparent;
        position: static;
    }
}
body > header nav a {
    line-height: 3.1em;
    padding: 0;
    font-size: 1em;
    font-weight: 500;
    font-variant: small-caps;
    text-transform: lowercase;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    flex: 1 1 150px;
}
@media screen and (max-width: 1000px) {
    body > header nav a {
        font-size: 1.3em;
    }
}
body > header nav a span {
    opacity: 0.45;
    font-variant: normal;
    font-size: .8em;
}
body > header nav a:hover {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
}
body > header nav a:active {
    transform: scale(0.8);
    outline: 0;
}
body > header nav .pagination {
    flex: 1 1 50px;
}

body > header > header {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 11.14%;
    height: 3.1em;
    line-height: 3.1em;
    animation: slidin-bottom 2s 1;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 120%;
}
body > header .small-caps {
    opacity: 0.5;
}
body > header .small-title {
    color: #fff;
    font-weight: 800;
}



/* Pages */
body > section {
    background: #fff;
    width: 55vw;
    min-height: 100vh;
    margin: 0 0 50px 45vw;
    font-size: 120%;
    border-radius: 2px 0 0 2px;
    overflow: hidden;
    position: relative;
}
body > section.dark {
    background-color: #222;
}
body > section:last-of-type {
    margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
    body > section {
        width: 100vw;
        margin: 0 0 50px;
        min-height: auto;
    }
}
@media screen and (min-width:1001px) {
    body > section:not(:target) {
        animation: slidin-left 1s 1;
    }
}
body > section > * {
    max-width: 1000px;
    margin: auto;
    padding: 6em 11.14%;
}
body > section > header,
body > section > footer {
    padding: 0 11.14%;
    font-size: 1em;
    line-height: 3.1em;
    background-color: rgba(245, 245, 245, 0.9);
    font-weight: 500;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #aaa;
    text-align: left;
}
body > section.dark > header,
body > section.dark > footer {
    background-color: rgba(0, 0, 0, 0.2);
}
body > section > footer {
    bottom: 0; right: 0; left: 0;
    position: absolute;
    height: 55px;
    line-height: 55PX;
    font-size: .9em;
}
@media screen and (min-width:1001px) {
    body > section > footer {
        position: fixed;
        left: 45vw;
        padding: 0 6.14%;
    }
}
body > section > header a,
body > section > footer a {
    color: #aaa;
}
body > section > footer .oi {
    display: inline-block;
    vertical-align: -.2ex;
}
.permalink {
    color: #AAA;
    line-height: 1;
    float: right;
    margin-top: 1.8ex;
}
.permalink a {
    color: #AAA;
    margin-left: 17px;
}
.permalink .oi {
    display: inline-block;
    vertical-align: middle;
}
.permalink a.active {
    color: #444;
}
.dark .permalink a.active {
    color: #fff;
}


/* Index of posts */
ul.index {
    list-style: none;
    padding: 0;
}
.index li {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.dark .index li {
    border-color: rgba(255, 255, 255, 0.05);
}
.index li:last-child {
    border-bottom: none;
}
.index h2 {
    margin: 0;
    color: #c5c5c5;
    transition: all .5s;
    font-weight: 500;
}
.dark .index h2 {
    color: rgba(197, 197, 197, 0.6);
}
.index a:hover h2 {
    color: #333;
}
.dark .index a:hover h2 {
    color: #fff;
}
.index time {
    font-size: 1.3rem;
    line-height: 1;
    font-family: "Charis SIL", serif;
    font-style: italic;
    color: #c5c5c5;
}
.dark .index time {
    color: rgba(197, 197, 197, 0.6);
}
.catbloc:not(:target) {
    display: none;
}



/* Post content */
.post {
    color: #4D4D4D;
}
img,
iframe {
    max-width:100%;
}
.post p {
    margin: 0 0 1.4em;
}
.post a img {
    border: 0 none;
}
.post img {
    border-radius: 3px;
}
.align,
.align.center {
    display: block;
    margin: 0 auto;
}
.align.center {
    margin: 0 auto;
}
.align.inline {
    display: inline-block;
    margin: 0 -5px 0 0;
}
@media screen and (min-width:700px) {
    .align.right {
        float: right;
        margin: 10px 0 10px 30px;
    }
    .align.left {
        float: left;
        margin: 10px 30px 10px 0;
    }
}
pre {
    overflow: hidden;
}
pre:hover {
    overflow: auto;
}
pre, code {
    background-color: #242424;
    color: #FFF;
    border-radius: 3px;
    font-size: 80%;
    padding: 1em;
    font-family: "Fira Mono",monospace;
}
em em {
    font-style: normal;
}
code {
    background-color: #CCC;
    color: #222;
    padding: 0 .7em;
    font-size: 90%;
    display: inline-block;
}
pre code {
   background-color: #242424;
   color: #fff;
   padding: 0;
}
.lineno {
    opacity: 0.2;
    pointer-events: none;
}
blockquote {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    font-size: 130%;
}



@keyframes bg-scroll {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes slidin-left {
    from {
        transform: translate(50%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes slidin-right {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes slidin-top {
    0% {
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes slidin-bottom {
    0% {
        transform: translate(0, -100%);
    }
    50% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes fadin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
