@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kgajdg');
  src:  url('fonts/icomoon.eot?kgajdg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kgajdg') format('truetype'),
    url('fonts/icomoon.woff?kgajdg') format('woff'),
    url('fonts/icomoon.svg?kgajdg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail2:before {
  content: "\ea84";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-firefox:before {
  content: "\eada";
}

