@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1fvsj9');
  src:  url('fonts/icomoon.eot?1fvsj9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1fvsj9') format('truetype'),
    url('fonts/icomoon.woff?1fvsj9') format('woff'),
    url('fonts/icomoon.svg?1fvsj9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e901";
}
.icon-medium:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-github:before {
  content: "\eab0";
}
.icon-lastfm2:before {
  content: "\eacc";
}
.icon-flattr:before {
  content: "\ead5";
}
.icon-firefox:before {
  content: "\eada";
}

