---
layout: default
friends-list: "false"
---
{{ content }}

<nav class="socials">
    {% for link in site.data.presences %}<a href="{{ link.url }}">{{ link.title }}</a>{% endfor %}
</nav>

{% unless layout.friends-list == "false" %}
<section>
    <div class="post">
        <p>
        <strong>{{ site.data.translations[page.lang].friends }}</strong><br>
        {% for link in site.data.friends %}<a href="{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>{% if forloop.last %}{% else %} · {% endif %}{% endfor %}
        </p>
    </div>
</section>
{% endunless %}
