---
layout: default
bodyclass: archive
---
<section id="allposts">
    <div>
        <h1>{{ site.data.translations[page.lang].allposts }}</h1>
        <hr class="double small">

        <ul class="index">
            {% assign posts=site.posts | where:"lang", page.lang | where:"type", posts %}
            {% for post in posts %}
            <li>
            <a href="{{ post.url }}">
                    <h2>{{ post.title | replace: '<br>', '' }}</h2>
                    <time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{% include date.html date=post.date %}</time>

             </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>


<section id="categories">
    <div>
        <h1>{{ site.data.translations[page.lang].categories }}</h1>
        <hr class="double small">
    </div>

   {% assign sortedcats = site.categories | sort %}
   {% for category in sortedcats %}
        <div class="catbloc" id="{{ category | first | remove:' ' }}">
            <h2 style="text-align:center">{{ category | first }}</h2>
            <hr class="double small">

            <ul class="index">
              {% for posts in category %}
                {% for post in posts %}
                {% if post.url %}
                <li>
                    <a href="{{ post.url }}">
                    <h2>{{ post.title | replace: '<br>', '' }} {% if post.link %}<span class="oi" data-glyph="external-link" style="color:#888; font-size:50%;"></span>{% endif %}</h2>
                    <time class="top" datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d %B %Y" }}</time>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
        </div>
   {% endfor %}
</section>
