<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="alternate" type="application/rss+xml" title="Schoewilliam.fr RSS (FR posts)" href="/flux.xml">
    <link rel="alternate" type="application/rss+xml" title="Schoewilliam.fr RSS (EN posts)" href="/feed.xml">

    <meta charset="UTF-8">
    <title>
    {% if page.title %}
	{{ page.title | replace:'&nbsp;',' ' | strip_html | escape }} - {{ site.title }}
    {% else %}
	{{ site.title }}
    {% endif %}
    </title>
    
    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}">
    {% else %}
    <meta name="description" content="{{ site.description | escape }}">
    {% endif %}
    
    <meta name="author" content="{{ site.author }}">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    {% if page.headimg_url %}
    <style>
        body:before {
            background-image: url({{ page.headimg_url }});
            opacity: .6;
        }
    </style>
    {% endif %}
  </head>
  
  <body {% if page.bodyclass %}class="{{ page.bodyclass }}"{% endif %}>
  
    <header>
        <div class="left">
            <a href="/{% if page.lang == "en" %}en{% endif %}" style="color:#fff">
                {% unless page.bodyclass == "home" %}
                    Schoewilliam
                {% else %}
                    William Dorffer
                {% endunless %}
            </a>
        </div>
        <div class="right">
            <a href="#" style="float:left"><span class="oi" data-glyph="menu"></span></a>
            {% assign altlang=site.posts | where:"date", page.date | sort: 'path' %}
            {% for post in altlang %}
                <a {% if page.lang == post.lang %}class="active"{% endif %} title="{{ site.data.translations[page.lang].switchlang }}" href="{{ post.url }}">{{ post.lang }}</a>
            {% endfor %}
            <span class="sep">|</span>
            <a title="{{ site.data.translations[page.lang].lights }}" class="lights"><span class="oi" data-glyph="lightbulb"></span></a>
        </div>
    </header>


    <aside>
        <div class="book-title">
            <hr class="double small">
            {% if page.bodyclass == "home" %}
                <h1>Schoewilliam</h1>
                <small>Open·Web Designer</small>
                <hr class="double small">
            {% elsif page.bodyclass == "archive" %}
                <h1>{{ page.title }}</h1>
                <hr class="double small">
                {% include category_selector.html %}
            {% else %}
                <h1>{{ page.title }}</h1>
                <hr class="double small">
            {% endif %}
        </div>

        {% include nav.html %}
    </aside>


    <!-- Page content -->
    {{ content }}



    <script src="/js/smoothscroll.js" type="text/javascript"></script>
    <script type="text/javascript">
        smoothScroll.init({
            speed: 1000, // Integer. How fast to complete the scroll in milliseconds
        });
    </script>
    <script src="/js/nightmode.js" type="text/javascript"></script>

    {% include piwik.html %}
  </body>
</html>
