---
layout: default
home-post: "false"
---
<section>
    <div class="post">
        {{ content }}
    </div>
</section>

{% unless layout.home-post == "false" %}
{% assign posts = site.posts | where: "lang", page.lang %}
{% for post in posts limit:1 %}
<section class="archive-post">
    <a href="{{ post.url }}">
    <div class="index">
        {% unless post.type == "pages" %}
        <div>
            <h2>{{ post.title | replace: '<br>', '' }}</h2>
            <time datetime='{{ post.date | date_to_xmlschema }}'><span style="font-weight:bold">{{ site.data.translations[page.lang].lastpost }} •</span> {% include date.html date=post.date %}</time>
        </div>
        <div class="excerpt">{{ post.excerpt | strip_html }}
        <strong style="color: #ff706b;">···</strong></div>
        {% endunless %}
    </div>
    </a>
</section>
{% endfor %}
{% endunless %}

<nav class="socials">
     {% for link in site.data.presences %}<a href="{{ link.url }}" title="{{ link.title | strip_html }}">{{ link.title }}</a>{% endfor %}
</nav>
