---
layout: default
lang: fr
---
<section class="article">

<article>

{% if page.schh %}
<span class="top schh" style="font-weight: bold; font-size: 120%;">~<a href="/" style="color:#333">schoewilliam</a></span>
<hr class="top schh" style="margin: 10px auto; max-width: 60px;">
{% endif %}
{% if page.link %}
<hgroup>
	<h1><a target=_blank href="{{ page.link | escape }}">{{ page.title }}</a>&nbsp;→</h1>
</hgroup>
{% else %}
<hgroup>
	<h1 {% if page.role == "home" %}style="margin-bottom:-25px"{% endif %}{% if page.role == "index" %}style="text-align:center;margin-bottom:20px"{% endif %}>{{ page.title }}</h1>
</hgroup>
{% endif %}

{{ content }}

</article>

</section>
