---
layout: default
lang: fr
bodyclass: post
---
{% include postdetails.html %}

{%  if page.comments != false %}
    <div id="comments">
      <img src="loading.gif" alt="Loading comments…"/>
    </div>
    <script src="/comments/commentcava.js" type="text/javascript"></script>
{% endif %}

<div class="readnext">
{% if page.previous.url %}
<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
	<span>Précédemment… <span>Previously…</span></span>
	<h1>{{page.previous.title}}</h1></a>
{% endif %}
</div> 
