---
layout: page
title: Carnet
schh: true
role: index
---
<div id="archives">
   <div>
	<ul>
   {% for post in site.posts %}
	    <li>
		<a {% if post.layout == "postserif" %}class="serif"{% endif %} href="{{ post.url }}">
		<time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | localize: ":default" }}</time>
		{{ post.title }}
		{% if post.link %}
	  		<span class="label black">marque-page</span>
		{% endif %}
		{% if post.en %}
	  		<span class="label grey">en</span>
		{% endif %}
		</a>
	   </li>
   {% endfor %}
	</ul>
   </div>
</div>
